body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:404px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:484px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4319 {
  position:absolute;
  left:100px;
  top:15px;
  width:304px;
  height:484px;
}
#u4320 {
  position:absolute;
  left:2px;
  top:234px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4321 {
  position:absolute;
  left:234px;
  top:499px;
  width:145px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4322 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4323 {
  position:absolute;
  left:100px;
  top:15px;
  width:62px;
  height:24px;
}
#u4324 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u4325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4325 {
  position:absolute;
  left:220px;
  top:15px;
  width:121px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4326 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4327 {
  position:absolute;
  left:105px;
  top:54px;
  width:99px;
  height:16px;
}
#u4328 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u4329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4329 {
  position:absolute;
  left:107px;
  top:455px;
  width:292px;
  height:40px;
}
#u4330 {
  position:absolute;
  left:2px;
  top:12px;
  width:288px;
  word-wrap:break-word;
}
#u4331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:235px;
}
#u4331 {
  position:absolute;
  left:102px;
  top:75px;
  width:299px;
  height:235px;
}
#u4332 {
  position:absolute;
  left:2px;
  top:110px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4334 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:22px;
}
#u4335 {
  position:absolute;
  left:107px;
  top:393px;
  width:283px;
  height:21px;
}
#u4336 {
  position:absolute;
  left:2px;
  top:2px;
  width:279px;
  word-wrap:break-word;
}
#u4337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:21px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4337 {
  position:absolute;
  left:170px;
  top:393px;
  width:173px;
  height:21px;
}
#u4338 {
  position:absolute;
  left:2px;
  top:2px;
  width:169px;
  word-wrap:break-word;
}
#u4339_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:67px;
  height:50px;
}
#u4339 {
  position:absolute;
  left:142px;
  top:350px;
  width:57px;
  height:40px;
}
#u4340 {
  position:absolute;
  left:2px;
  top:6px;
  width:53px;
  word-wrap:break-word;
}
#u4341_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:67px;
  height:50px;
}
#u4341 {
  position:absolute;
  left:314px;
  top:353px;
  width:57px;
  height:40px;
}
#u4342 {
  position:absolute;
  left:2px;
  top:6px;
  width:53px;
  word-wrap:break-word;
}
#u4343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4343 {
  position:absolute;
  left:113px;
  top:322px;
  width:127px;
  height:16px;
}
#u4344 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u4345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4345 {
  position:absolute;
  left:339px;
  top:324px;
  width:40px;
  height:16px;
}
#u4346 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
