body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:694px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10041 {
  position:absolute;
  left:249px;
  top:157px;
  width:113px;
  height:32px;
}
#u10042 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u10043 {
  position:absolute;
  left:372px;
  top:157px;
  width:156px;
  height:25px;
}
#u10043_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:171px;
}
#u10044 {
  position:absolute;
  left:277px;
  top:203px;
  width:251px;
  height:170px;
}
#u10045 {
  position:absolute;
  left:2px;
  top:77px;
  width:247px;
  word-wrap:break-word;
}
#u10046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10046 {
  position:absolute;
  left:590px;
  top:268px;
  width:104px;
  height:40px;
}
#u10047 {
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u10048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:171px;
}
#u10048 {
  position:absolute;
  left:277px;
  top:413px;
  width:251px;
  height:170px;
}
#u10049 {
  position:absolute;
  left:2px;
  top:77px;
  width:247px;
  word-wrap:break-word;
}
#u10050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10050 {
  position:absolute;
  left:590px;
  top:478px;
  width:104px;
  height:40px;
}
#u10051 {
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u10052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u10052 {
  position:absolute;
  left:267px;
  top:608px;
  width:300px;
  height:40px;
}
#u10053 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10054 {
  position:absolute;
  left:381px;
  top:617px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10055 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10056 {
  position:absolute;
  left:277px;
  top:681px;
  width:104px;
  height:40px;
}
#u10057 {
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u10058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10058 {
  position:absolute;
  left:463px;
  top:681px;
  width:104px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10059 {
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
