body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:679px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7220 {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:107px;
}
#u7221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:30px;
}
#u7221 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:30px;
}
#u7222 {
  position:absolute;
  left:2px;
  top:7px;
  width:376px;
  word-wrap:break-word;
}
#u7223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u7223 {
  position:absolute;
  left:380px;
  top:0px;
  width:83px;
  height:30px;
}
#u7224 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u7225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u7225 {
  position:absolute;
  left:463px;
  top:0px;
  width:113px;
  height:30px;
}
#u7226 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u7227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u7227 {
  position:absolute;
  left:576px;
  top:0px;
  width:103px;
  height:30px;
}
#u7228 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u7229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:36px;
}
#u7229 {
  position:absolute;
  left:0px;
  top:30px;
  width:380px;
  height:36px;
}
#u7230 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u7231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u7231 {
  position:absolute;
  left:380px;
  top:30px;
  width:83px;
  height:36px;
}
#u7232 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u7233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
}
#u7233 {
  position:absolute;
  left:463px;
  top:30px;
  width:113px;
  height:36px;
}
#u7234 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u7235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
}
#u7235 {
  position:absolute;
  left:576px;
  top:30px;
  width:103px;
  height:36px;
}
#u7236 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:36px;
}
#u7237 {
  position:absolute;
  left:0px;
  top:66px;
  width:380px;
  height:36px;
}
#u7238 {
  position:absolute;
  left:2px;
  top:2px;
  width:376px;
  word-wrap:break-word;
}
#u7239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u7239 {
  position:absolute;
  left:380px;
  top:66px;
  width:83px;
  height:36px;
}
#u7240 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u7241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
}
#u7241 {
  position:absolute;
  left:463px;
  top:66px;
  width:113px;
  height:36px;
}
#u7242 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u7243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
}
#u7243 {
  position:absolute;
  left:576px;
  top:66px;
  width:103px;
  height:36px;
}
#u7244 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
