body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1901px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1901px;
  height:914px;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1901px;
  height:914px;
}
#u313_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:630px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:100px;
  width:600px;
  height:630px;
}
#u314_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:300px;
  width:596px;
  word-wrap:break-word;
}
#u315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:610px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  line-height:30px;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:100px;
  width:449px;
  height:610px;
  font-size:16px;
  line-height:30px;
}
#u315_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  word-wrap:break-word;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:105px;
  width:183px;
  height:25px;
}
#u316_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:135px;
  width:183px;
  height:25px;
}
#u317_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:166px;
  width:183px;
  height:25px;
}
#u318_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:224px;
  width:183px;
  height:25px;
}
#u319_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:254px;
  width:183px;
  height:25px;
}
#u320_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:285px;
  width:183px;
  height:25px;
}
#u321_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:320px;
  width:183px;
  height:25px;
}
#u322_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:381px;
  width:183px;
  height:25px;
}
#u323_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:409px;
  width:183px;
  height:25px;
}
#u324_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:439px;
  width:183px;
  height:25px;
}
#u325_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:470px;
  width:183px;
  height:25px;
}
#u326_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:500px;
  width:183px;
  height:25px;
}
#u327_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:530px;
  width:183px;
  height:25px;
}
#u328_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:561px;
  width:183px;
  height:25px;
}
#u329_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:625px;
  width:183px;
  height:85px;
}
#u330_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:85px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:594px;
  width:100px;
  height:16px;
}
#u331_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u331_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:594px;
  width:100px;
  height:16px;
}
#u332_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u332_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:169px;
  width:123px;
  height:20px;
}
#u333_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:167px;
  width:61px;
  height:25px;
}
#u334_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:226px;
  width:55px;
  height:22px;
}
#u335_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:348px;
  width:183px;
  height:28px;
}
#u336_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:28px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u336_input:disabled {
  color:grayText;
}
#u337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:23px;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:470px;
  width:33px;
  height:23px;
}
#u337_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:23px;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:500px;
  width:33px;
  height:23px;
}
#u338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:39px;
  width:119px;
  height:26px;
  font-size:21px;
}
#u339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:760px;
  width:39px;
  height:18px;
  color:#FFFFFF;
}
#u340_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:590px;
  width:288px;
  height:25px;
}
#u341_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:130px;
  background:inherit;
  background-color:rgba(34, 27, 21, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:230px;
  height:130px;
}
#u342_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
