body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:871px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:128px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:128px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:867px;
  word-wrap:break-word;
}
