body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:407px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:480px;
}
#u3661 {
  position:absolute;
  left:100px;
  top:15px;
  width:307px;
  height:480px;
}
#u3662 {
  position:absolute;
  left:2px;
  top:232px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
