body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:404px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:484px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2138 {
  position:absolute;
  left:100px;
  top:15px;
  width:304px;
  height:484px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:234px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2140 {
  position:absolute;
  left:183px;
  top:499px;
  width:145px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2141 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:313px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2142 {
  position:absolute;
  left:109px;
  top:50px;
  width:283px;
  height:313px;
}
#u2143 {
  position:absolute;
  left:2px;
  top:148px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u2144 {
  position:absolute;
  left:210px;
  top:151px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u2145 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u2146 {
  position:absolute;
  left:117px;
  top:212px;
  width:53px;
  height:16px;
}
#u2147 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u2148 {
  position:absolute;
  left:117px;
  top:236px;
  width:53px;
  height:16px;
}
#u2149 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u2150 {
  position:absolute;
  left:190px;
  top:170px;
  width:131px;
  height:16px;
}
#u2151 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u2152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u2152 {
  position:absolute;
  left:200px;
  top:132px;
  width:94px;
  height:16px;
}
#u2153 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u2154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u2154 {
  position:absolute;
  left:327px;
  top:236px;
  width:52px;
  height:16px;
}
#u2155 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u2156 {
  position:absolute;
  left:190px;
  top:188px;
  width:131px;
  height:16px;
}
#u2157 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u2158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2158 {
  position:absolute;
  left:216px;
  top:18px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2159 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2160 {
  position:absolute;
  left:109px;
  top:23px;
  width:41px;
  height:16px;
}
#u2161 {
  position:absolute;
  left:2px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u2162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2162 {
  position:absolute;
  left:221px;
  top:87px;
  width:51px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2163 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u2164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u2164 {
  position:absolute;
  left:326px;
  top:59px;
  width:53px;
  height:16px;
  text-decoration:underline;
}
#u2165 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u2166 {
  position:absolute;
  left:339px;
  top:214px;
  width:39px;
  height:16px;
}
#u2167 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u2168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u2168 {
  position:absolute;
  left:116px;
  top:257px;
  width:53px;
  height:16px;
}
#u2169 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u2170 {
  position:absolute;
  left:326px;
  top:257px;
  width:52px;
  height:16px;
}
#u2171 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u2172 {
  position:absolute;
  left:117px;
  top:276px;
  width:53px;
  height:16px;
}
#u2173 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u2174 {
  position:absolute;
  left:342px;
  top:276px;
  width:39px;
  height:16px;
}
#u2175 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u2176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u2176 {
  position:absolute;
  left:118px;
  top:293px;
  width:66px;
  height:16px;
}
#u2177 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u2178 {
  position:absolute;
  left:343px;
  top:293px;
  width:39px;
  height:16px;
}
#u2179 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u2180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u2180 {
  position:absolute;
  left:119px;
  top:312px;
  width:53px;
  height:16px;
}
#u2181 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u2182 {
  position:absolute;
  left:344px;
  top:312px;
  width:39px;
  height:16px;
}
#u2183 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u2184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2184 {
  position:absolute;
  left:201px;
  top:335px;
  width:101px;
  height:21px;
}
#u2185 {
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  word-wrap:break-word;
}
#u2186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:198px;
}
#u2186 {
  position:absolute;
  left:109px;
  top:77px;
  width:283px;
  height:198px;
}
#u2187 {
  position:absolute;
  left:2px;
  top:91px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
