body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:404px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:484px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4347 {
  position:absolute;
  left:100px;
  top:15px;
  width:304px;
  height:484px;
}
#u4348 {
  position:absolute;
  left:2px;
  top:234px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4349 {
  position:absolute;
  left:234px;
  top:499px;
  width:145px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4350 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4351 {
  position:absolute;
  left:100px;
  top:15px;
  width:62px;
  height:24px;
}
#u4352 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u4353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4353 {
  position:absolute;
  left:220px;
  top:15px;
  width:121px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4354 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  visibility:hidden;
  white-space:nowrap;
}
#u4355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:411px;
}
#u4355 {
  position:absolute;
  left:102px;
  top:70px;
  width:300px;
  height:410px;
}
#u4356 {
  position:absolute;
  left:2px;
  top:197px;
  width:296px;
  word-wrap:break-word;
}
