body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1181px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:202px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:18px;
  width:871px;
  height:202px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:867px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1109px;
  height:511px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:1668px;
  width:1109px;
  height:511px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1109px;
  height:283px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:808px;
  width:1109px;
  height:283px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:1105px;
  word-wrap:break-word;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:1817px;
  width:286px;
  height:145px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:1835px;
  width:82px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:1835px;
  width:149px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u26_input:disabled {
  color:grayText;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:1859px;
  width:149px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:1882px;
  width:149px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  text-align:left;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:1906px;
  width:149px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  text-align:left;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:1733px;
  width:124px;
  height:42px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:1775px;
  width:0px;
  height:0px;
}
#u31_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u31_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1127px;
  height:519px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1115px;
  width:1127px;
  height:519px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:164px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:1391px;
  width:360px;
  height:164px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:1412px;
  width:126px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:1412px;
  width:165px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u35_input:disabled {
  color:grayText;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:1455px;
  width:300px;
  height:36px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:1437px;
  width:165px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:161px;
  word-wrap:break-word;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:1460px;
  width:165px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:161px;
  word-wrap:break-word;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:1483px;
  width:165px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:161px;
  word-wrap:break-word;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:1473px;
  width:0px;
  height:0px;
}
#u40_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u40_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-10px;
  width:20px;
  height:20px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1047px;
  height:554px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:230px;
  width:1047px;
  height:554px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:1417px;
  width:16px;
  height:16px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:187px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:1172px;
  width:491px;
  height:187px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:487px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:1173px;
  width:12px;
  height:12px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:1075px;
  top:1417px;
  width:0px;
  height:0px;
}
#u45_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-51px;
  width:8px;
  height:51px;
}
#u45_seg1 {
  border-width:0px;
  position:absolute;
  left:-143px;
  top:-51px;
  width:147px;
  height:8px;
}
#u45_seg2 {
  border-width:0px;
  position:absolute;
  left:-143px;
  top:-58px;
  width:8px;
  height:15px;
}
#u45_seg3 {
  border-width:0px;
  position:absolute;
  left:-149px;
  top:-63px;
  width:20px;
  height:20px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
