body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:409px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:484px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2681 {
  position:absolute;
  left:100px;
  top:15px;
  width:309px;
  height:484px;
}
#u2682 {
  position:absolute;
  left:2px;
  top:234px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2683 {
  position:absolute;
  left:239px;
  top:499px;
  width:37px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2684 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2685 {
  position:absolute;
  left:103px;
  top:474px;
  width:61px;
  height:25px;
}
#u2685_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2686 {
  position:absolute;
  left:164px;
  top:474px;
  width:61px;
  height:25px;
}
#u2686_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2687 {
  position:absolute;
  left:225px;
  top:474px;
  width:61px;
  height:25px;
}
#u2687_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2688 {
  position:absolute;
  left:348px;
  top:474px;
  width:61px;
  height:25px;
}
#u2688_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2689 {
  position:absolute;
  left:286px;
  top:474px;
  width:62px;
  height:24px;
}
#u2690 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u2691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:137px;
}
#u2691 {
  position:absolute;
  left:100px;
  top:59px;
  width:309px;
  height:137px;
}
#u2692 {
  position:absolute;
  left:2px;
  top:60px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2693 {
  position:absolute;
  left:164px;
  top:95px;
  width:189px;
  height:37px;
}
#u2694 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u2695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:72px;
}
#u2695 {
  position:absolute;
  left:118px;
  top:283px;
  width:84px;
  height:71px;
}
#u2696 {
  position:absolute;
  left:2px;
  top:20px;
  width:80px;
  word-wrap:break-word;
}
#u2697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:72px;
}
#u2697 {
  position:absolute;
  left:118px;
  top:202px;
  width:84px;
  height:71px;
}
#u2698 {
  position:absolute;
  left:2px;
  top:20px;
  width:80px;
  word-wrap:break-word;
}
#u2699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:72px;
}
#u2699 {
  position:absolute;
  left:306px;
  top:202px;
  width:84px;
  height:71px;
}
#u2700 {
  position:absolute;
  left:2px;
  top:20px;
  width:80px;
  word-wrap:break-word;
}
#u2701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:72px;
}
#u2701 {
  position:absolute;
  left:212px;
  top:202px;
  width:84px;
  height:71px;
}
#u2702 {
  position:absolute;
  left:2px;
  top:20px;
  width:80px;
  word-wrap:break-word;
}
#u2703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:72px;
}
#u2703 {
  position:absolute;
  left:306px;
  top:283px;
  width:84px;
  height:71px;
  font-size:36px;
}
#u2704 {
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u2705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:72px;
}
#u2705 {
  position:absolute;
  left:212px;
  top:283px;
  width:84px;
  height:71px;
}
#u2706 {
  position:absolute;
  left:2px;
  top:20px;
  width:80px;
  word-wrap:break-word;
}
#u2705_ann {
  position:absolute;
  left:289px;
  top:279px;
  width:1px;
  height:1px;
}
#u2707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2707 {
  position:absolute;
  left:100px;
  top:15px;
  width:309px;
  height:40px;
}
#u2708 {
  position:absolute;
  left:2px;
  top:12px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2709 {
  position:absolute;
  left:234px;
  top:23px;
  width:41px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2710 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2711 {
  position:absolute;
  left:105px;
  top:23px;
  width:25px;
  height:25px;
}
#u2712 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
