body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:22px;
  width:497px;
  height:99px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u343_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:493px;
  word-wrap:break-word;
}
