body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1064px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1064px;
  height:491px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:146px;
  width:1064px;
  height:491px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  height:136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  height:136px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:929px;
  word-wrap:break-word;
}
