body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:866px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:97px;
}
#u9695 {
  position:absolute;
  left:60px;
  top:64px;
  width:142px;
  height:96px;
}
#u9696 {
  position:absolute;
  left:2px;
  top:32px;
  width:138px;
  word-wrap:break-word;
}
#u9697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:97px;
}
#u9697 {
  position:absolute;
  left:226px;
  top:64px;
  width:142px;
  height:96px;
}
#u9698 {
  position:absolute;
  left:2px;
  top:32px;
  width:138px;
  word-wrap:break-word;
}
#u9699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:97px;
}
#u9699 {
  position:absolute;
  left:389px;
  top:64px;
  width:142px;
  height:96px;
}
#u9700 {
  position:absolute;
  left:2px;
  top:32px;
  width:138px;
  word-wrap:break-word;
}
#u9701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:97px;
}
#u9701 {
  position:absolute;
  left:554px;
  top:64px;
  width:142px;
  height:96px;
}
#u9702 {
  position:absolute;
  left:2px;
  top:32px;
  width:138px;
  word-wrap:break-word;
}
#u9703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:97px;
}
#u9703 {
  position:absolute;
  left:724px;
  top:64px;
  width:142px;
  height:96px;
}
#u9704 {
  position:absolute;
  left:2px;
  top:32px;
  width:138px;
  word-wrap:break-word;
}
#u9705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:97px;
}
#u9705 {
  position:absolute;
  left:60px;
  top:181px;
  width:142px;
  height:96px;
}
#u9706 {
  position:absolute;
  left:2px;
  top:32px;
  width:138px;
  word-wrap:break-word;
}
#u9707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:97px;
}
#u9707 {
  position:absolute;
  left:389px;
  top:303px;
  width:142px;
  height:96px;
}
#u9708 {
  position:absolute;
  left:2px;
  top:32px;
  width:138px;
  word-wrap:break-word;
}
#u9709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:97px;
}
#u9709 {
  position:absolute;
  left:552px;
  top:300px;
  width:142px;
  height:96px;
}
#u9710 {
  position:absolute;
  left:2px;
  top:32px;
  width:138px;
  word-wrap:break-word;
}
#u9711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:97px;
}
#u9711 {
  position:absolute;
  left:717px;
  top:303px;
  width:142px;
  height:96px;
}
#u9712 {
  position:absolute;
  left:2px;
  top:32px;
  width:138px;
  word-wrap:break-word;
}
#u9713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:97px;
}
#u9713 {
  position:absolute;
  left:60px;
  top:300px;
  width:142px;
  height:96px;
}
#u9714 {
  position:absolute;
  left:2px;
  top:32px;
  width:138px;
  word-wrap:break-word;
}
#u9715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:97px;
}
#u9715 {
  position:absolute;
  left:225px;
  top:303px;
  width:142px;
  height:96px;
}
#u9716 {
  position:absolute;
  left:2px;
  top:32px;
  width:138px;
  word-wrap:break-word;
}
#u9717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:97px;
}
#u9717 {
  position:absolute;
  left:226px;
  top:181px;
  width:142px;
  height:96px;
}
#u9718 {
  position:absolute;
  left:2px;
  top:32px;
  width:138px;
  word-wrap:break-word;
}
#u9719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:97px;
}
#u9719 {
  position:absolute;
  left:389px;
  top:181px;
  width:142px;
  height:96px;
}
#u9720 {
  position:absolute;
  left:2px;
  top:32px;
  width:138px;
  word-wrap:break-word;
}
#u9721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:97px;
}
#u9721 {
  position:absolute;
  left:554px;
  top:181px;
  width:142px;
  height:96px;
}
#u9722 {
  position:absolute;
  left:2px;
  top:32px;
  width:138px;
  word-wrap:break-word;
}
#u9723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:97px;
}
#u9723 {
  position:absolute;
  left:724px;
  top:187px;
  width:142px;
  height:96px;
}
#u9724 {
  position:absolute;
  left:2px;
  top:32px;
  width:138px;
  word-wrap:break-word;
}
