body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1101px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:508px;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:508px;
}
#u645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:276px;
  width:447px;
  height:232px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
}
#u646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:276px;
  width:447px;
  height:35px;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:443px;
  word-wrap:break-word;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u649_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:20px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:285px;
  width:2px;
  height:17px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u650_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:19px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:285px;
  width:2px;
  height:16px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:337px;
  width:86px;
  height:27px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u651_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:337px;
  width:186px;
  height:27px;
}
#u652_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:27px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u652_input:disabled {
  color:grayText;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:374px;
  width:186px;
  height:25px;
}
#u653_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:373px;
  width:86px;
  height:27px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:449px;
  width:105px;
  height:28px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u655_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:449px;
  width:105px;
  height:28px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u656_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:62px;
  width:300px;
  height:73px;
}
#u657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_ann {
  border-width:0px;
  position:absolute;
  left:714px;
  top:58px;
  width:1px;
  height:1px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:272px;
  width:0px;
  height:0px;
}
#u658_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:124px;
}
#u658_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:116px;
  width:50px;
  height:8px;
}
#u658_seg2 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:110px;
  width:20px;
  height:20px;
}
#u658_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:75px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:508px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:546px;
  width:1101px;
  height:508px;
}
#u659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:606px;
  width:300px;
  height:73px;
}
#u660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_ann {
  border-width:0px;
  position:absolute;
  left:694px;
  top:602px;
  width:1px;
  height:1px;
}
#u661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:209px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:768px;
  width:447px;
  height:209px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
}
#u661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:768px;
  width:447px;
  height:35px;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u662_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:443px;
  word-wrap:break-word;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:20px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:777px;
  width:2px;
  height:17px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:19px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:777px;
  width:2px;
  height:16px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:852px;
  width:186px;
  height:25px;
}
#u666_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:851px;
  width:86px;
  height:27px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:908px;
  width:105px;
  height:28px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:908px;
  width:105px;
  height:28px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u669_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:677px;
  width:0px;
  height:0px;
}
#u670_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u670_seg1 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:6px;
  width:56px;
  height:8px;
}
#u670_seg2 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:6px;
  width:8px;
  height:194px;
}
#u670_seg3 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:192px;
  width:203px;
  height:8px;
}
#u670_seg4 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:186px;
  width:20px;
  height:20px;
}
#u670_text {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:166px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
