body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1999px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1252px;
  height:926px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5939 {
  position:absolute;
  left:6px;
  top:34px;
  width:1252px;
  height:926px;
}
#u5940 {
  position:absolute;
  left:2px;
  top:455px;
  width:1248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:31px;
}
#u5941 {
  position:absolute;
  left:7px;
  top:3px;
  width:158px;
  height:31px;
}
#u5942 {
  position:absolute;
  left:2px;
  top:8px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:22px;
}
#u5943 {
  position:absolute;
  left:149px;
  top:12px;
  width:16px;
  height:22px;
}
#u5944 {
  position:absolute;
  left:2px;
  top:3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:38px;
  background:inherit;
  background-color:rgba(236, 240, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5945 {
  position:absolute;
  left:7px;
  top:34px;
  width:1251px;
  height:38px;
}
#u5946 {
  position:absolute;
  left:2px;
  top:11px;
  width:1247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:19px;
}
#u5947 {
  position:absolute;
  left:19px;
  top:44px;
  width:24px;
  height:19px;
}
#u5948 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u5949 {
  position:absolute;
  left:43px;
  top:47px;
  width:104px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u5950 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u5951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5951 {
  position:absolute;
  left:37px;
  top:13px;
  width:50px;
  height:16px;
  color:#FFFFFF;
}
#u5952 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u5953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5953 {
  position:absolute;
  left:1094px;
  top:73px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u5954 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u5955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:2px;
}
#u5955 {
  position:absolute;
  left:8px;
  top:873px;
  width:1250px;
  height:1px;
}
#u5956 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:2px;
}
#u5957 {
  position:absolute;
  left:19px;
  top:117px;
  width:1215px;
  height:1px;
}
#u5958 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5959 {
  position:absolute;
  left:40px;
  top:904px;
  width:95px;
  height:16px;
}
#u5960 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u5961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5961 {
  position:absolute;
  left:364px;
  top:904px;
  width:61px;
  height:28px;
}
#u5962 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u5963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5963 {
  position:absolute;
  left:425px;
  top:904px;
  width:61px;
  height:28px;
}
#u5964 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u5965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5965 {
  position:absolute;
  left:486px;
  top:904px;
  width:61px;
  height:28px;
}
#u5966 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u5967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5967 {
  position:absolute;
  left:547px;
  top:904px;
  width:61px;
  height:28px;
}
#u5968 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u5969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5969 {
  position:absolute;
  left:669px;
  top:904px;
  width:61px;
  height:28px;
}
#u5970 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u5971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5971 {
  position:absolute;
  left:791px;
  top:904px;
  width:61px;
  height:28px;
}
#u5972 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u5973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5973 {
  position:absolute;
  left:852px;
  top:904px;
  width:61px;
  height:28px;
}
#u5974 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u5975 {
  position:absolute;
  left:608px;
  top:907px;
  width:61px;
  height:25px;
}
#u5975_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5976 {
  position:absolute;
  left:730px;
  top:904px;
  width:61px;
  height:28px;
}
#u5977 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u5978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5978 {
  position:absolute;
  left:1064px;
  top:904px;
  width:61px;
  height:28px;
}
#u5979 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u5980 {
  position:absolute;
  left:1123px;
  top:904px;
  width:53px;
  height:28px;
}
#u5980_input {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5980_input:disabled {
  color:grayText;
}
#u5981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5981 {
  position:absolute;
  left:1176px;
  top:904px;
  width:44px;
  height:28px;
}
#u5982 {
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u5983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(85, 135, 220, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#5684DD;
}
#u5983 {
  position:absolute;
  left:15px;
  top:122px;
  width:140px;
  height:40px;
  font-size:16px;
  color:#5684DD;
}
#u5984 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u5985 {
  position:absolute;
  left:15px;
  top:172px;
  width:1989px;
  height:139px;
}
#u5986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u5986 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u5987 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u5988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u5988 {
  position:absolute;
  left:153px;
  top:0px;
  width:153px;
  height:52px;
}
#u5989 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u5990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u5990 {
  position:absolute;
  left:306px;
  top:0px;
  width:153px;
  height:52px;
}
#u5991 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u5992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u5992 {
  position:absolute;
  left:459px;
  top:0px;
  width:153px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u5993 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u5994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u5994 {
  position:absolute;
  left:612px;
  top:0px;
  width:153px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u5995 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u5996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u5996 {
  position:absolute;
  left:765px;
  top:0px;
  width:153px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u5997 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u5998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u5998 {
  position:absolute;
  left:918px;
  top:0px;
  width:153px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u5999 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u6000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u6000 {
  position:absolute;
  left:1071px;
  top:0px;
  width:153px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u6001 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u6002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u6002 {
  position:absolute;
  left:1224px;
  top:0px;
  width:153px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u6003 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u6004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u6004 {
  position:absolute;
  left:1377px;
  top:0px;
  width:153px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u6005 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u6006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u6006 {
  position:absolute;
  left:1530px;
  top:0px;
  width:153px;
  height:52px;
  color:#FF0000;
  text-align:center;
}
#u6007 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u6008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u6008 {
  position:absolute;
  left:1683px;
  top:0px;
  width:153px;
  height:52px;
  color:#FF0000;
  text-align:center;
}
#u6009 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u6010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:52px;
}
#u6010 {
  position:absolute;
  left:1836px;
  top:0px;
  width:148px;
  height:52px;
}
#u6011 {
  position:absolute;
  left:2px;
  top:18px;
  width:144px;
  word-wrap:break-word;
}
#u6012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u6012 {
  position:absolute;
  left:0px;
  top:52px;
  width:153px;
  height:52px;
  text-align:center;
}
#u6013 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u6014 {
  position:absolute;
  left:153px;
  top:52px;
  width:153px;
  height:52px;
  text-align:center;
}
#u6015 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u6016 {
  position:absolute;
  left:306px;
  top:52px;
  width:153px;
  height:52px;
  text-align:center;
}
#u6017 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u6018 {
  position:absolute;
  left:459px;
  top:52px;
  width:153px;
  height:52px;
  text-align:center;
}
#u6019 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u6020 {
  position:absolute;
  left:612px;
  top:52px;
  width:153px;
  height:52px;
  text-align:center;
}
#u6021 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u6022 {
  position:absolute;
  left:765px;
  top:52px;
  width:153px;
  height:52px;
  text-align:center;
}
#u6023 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u6024 {
  position:absolute;
  left:918px;
  top:52px;
  width:153px;
  height:52px;
  text-align:center;
}
#u6025 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u6026 {
  position:absolute;
  left:1071px;
  top:52px;
  width:153px;
  height:52px;
  text-align:center;
}
#u6027 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u6028 {
  position:absolute;
  left:1224px;
  top:52px;
  width:153px;
  height:52px;
  text-align:center;
}
#u6029 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u6030 {
  position:absolute;
  left:1377px;
  top:52px;
  width:153px;
  height:52px;
  text-align:center;
}
#u6031 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u6032 {
  position:absolute;
  left:1530px;
  top:52px;
  width:153px;
  height:52px;
  text-align:center;
}
#u6033 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u6034 {
  position:absolute;
  left:1683px;
  top:52px;
  width:153px;
  height:52px;
  text-align:center;
}
#u6035 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:52px;
}
#u6036 {
  position:absolute;
  left:1836px;
  top:52px;
  width:148px;
  height:52px;
  text-align:center;
}
#u6037 {
  position:absolute;
  left:2px;
  top:18px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u6038 {
  position:absolute;
  left:0px;
  top:104px;
  width:153px;
  height:30px;
  text-align:center;
}
#u6039 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u6040 {
  position:absolute;
  left:153px;
  top:104px;
  width:153px;
  height:30px;
  text-align:center;
}
#u6041 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u6042 {
  position:absolute;
  left:306px;
  top:104px;
  width:153px;
  height:30px;
  text-align:center;
}
#u6043 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u6044 {
  position:absolute;
  left:459px;
  top:104px;
  width:153px;
  height:30px;
  text-align:center;
}
#u6045 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u6046 {
  position:absolute;
  left:612px;
  top:104px;
  width:153px;
  height:30px;
  text-align:center;
}
#u6047 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u6048 {
  position:absolute;
  left:765px;
  top:104px;
  width:153px;
  height:30px;
  text-align:center;
}
#u6049 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u6050 {
  position:absolute;
  left:918px;
  top:104px;
  width:153px;
  height:30px;
  text-align:center;
}
#u6051 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u6052 {
  position:absolute;
  left:1071px;
  top:104px;
  width:153px;
  height:30px;
  text-align:center;
}
#u6053 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u6054 {
  position:absolute;
  left:1224px;
  top:104px;
  width:153px;
  height:30px;
  text-align:center;
}
#u6055 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u6056 {
  position:absolute;
  left:1377px;
  top:104px;
  width:153px;
  height:30px;
  text-align:center;
}
#u6057 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u6058 {
  position:absolute;
  left:1530px;
  top:104px;
  width:153px;
  height:30px;
  text-align:center;
}
#u6059 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u6060 {
  position:absolute;
  left:1683px;
  top:104px;
  width:153px;
  height:30px;
  text-align:center;
}
#u6061 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u6062 {
  position:absolute;
  left:1836px;
  top:104px;
  width:148px;
  height:30px;
  text-align:center;
}
#u6063 {
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:25px;
}
#u6064 {
  position:absolute;
  left:778px;
  top:79px;
  width:267px;
  height:25px;
}
#u6065 {
  position:absolute;
  left:2px;
  top:4px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6066 {
  position:absolute;
  left:851px;
  top:82px;
  width:170px;
  height:25px;
}
#u6066_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6066_input:disabled {
  color:grayText;
}
#u6067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6067 {
  position:absolute;
  left:794px;
  top:86px;
  width:29px;
  height:16px;
}
#u6068 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(85, 135, 220, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#5684DD;
}
#u6069 {
  position:absolute;
  left:173px;
  top:122px;
  width:140px;
  height:40px;
  font-size:16px;
  color:#5684DD;
}
#u6070 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u6071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
}
#u6071 {
  position:absolute;
  left:241px;
  top:81px;
  width:210px;
  height:25px;
}
#u6072 {
  position:absolute;
  left:2px;
  top:4px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6073 {
  position:absolute;
  left:265px;
  top:85px;
  width:57px;
  height:16px;
}
#u6074 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6075 {
  position:absolute;
  left:328px;
  top:80px;
  width:112px;
  height:25px;
}
#u6075_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6075_input:disabled {
  color:grayText;
}
#u6076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:25px;
}
#u6076 {
  position:absolute;
  left:475px;
  top:82px;
  width:221px;
  height:25px;
}
#u6077 {
  position:absolute;
  left:2px;
  top:4px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6078 {
  position:absolute;
  left:484px;
  top:87px;
  width:29px;
  height:16px;
}
#u6079 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6080 {
  position:absolute;
  left:565px;
  top:82px;
  width:127px;
  height:25px;
}
#u6080_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(85, 135, 220, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#5684DD;
}
#u6081 {
  position:absolute;
  left:336px;
  top:122px;
  width:140px;
  height:40px;
  font-size:16px;
  color:#5684DD;
}
#u6082 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u6081_ann {
  position:absolute;
  left:469px;
  top:118px;
  width:1px;
  height:1px;
}
#u6083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
}
#u6083 {
  position:absolute;
  left:8px;
  top:80px;
  width:210px;
  height:25px;
}
#u6084 {
  position:absolute;
  left:2px;
  top:4px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6085 {
  position:absolute;
  left:32px;
  top:84px;
  width:57px;
  height:16px;
}
#u6086 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6087 {
  position:absolute;
  left:95px;
  top:79px;
  width:112px;
  height:25px;
}
#u6087_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6087_input:disabled {
  color:grayText;
}
#u6087_ann {
  position:absolute;
  left:200px;
  top:75px;
  width:1px;
  height:1px;
}
#u6088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6088 {
  position:absolute;
  left:1877px;
  top:240px;
  width:59px;
  height:26px;
  font-size:16px;
}
#u6089 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
