body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:409px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:484px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4517 {
  position:absolute;
  left:100px;
  top:15px;
  width:309px;
  height:484px;
}
#u4518 {
  position:absolute;
  left:2px;
  top:234px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4519 {
  position:absolute;
  left:239px;
  top:499px;
  width:37px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4520 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4521 {
  position:absolute;
  left:103px;
  top:474px;
  width:61px;
  height:25px;
}
#u4521_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4522 {
  position:absolute;
  left:164px;
  top:474px;
  width:61px;
  height:25px;
}
#u4522_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4523 {
  position:absolute;
  left:225px;
  top:474px;
  width:61px;
  height:25px;
}
#u4523_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4524 {
  position:absolute;
  left:348px;
  top:474px;
  width:61px;
  height:25px;
}
#u4524_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4525 {
  position:absolute;
  left:286px;
  top:474px;
  width:62px;
  height:24px;
}
#u4526 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u4527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:137px;
}
#u4527 {
  position:absolute;
  left:100px;
  top:59px;
  width:309px;
  height:137px;
}
#u4528 {
  position:absolute;
  left:2px;
  top:60px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4529 {
  position:absolute;
  left:164px;
  top:95px;
  width:189px;
  height:37px;
}
#u4530 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u4531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:72px;
}
#u4531 {
  position:absolute;
  left:118px;
  top:283px;
  width:84px;
  height:71px;
}
#u4532 {
  position:absolute;
  left:2px;
  top:20px;
  width:80px;
  word-wrap:break-word;
}
#u4533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:72px;
}
#u4533 {
  position:absolute;
  left:118px;
  top:202px;
  width:84px;
  height:71px;
}
#u4534 {
  position:absolute;
  left:2px;
  top:20px;
  width:80px;
  word-wrap:break-word;
}
#u4535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:72px;
}
#u4535 {
  position:absolute;
  left:306px;
  top:202px;
  width:84px;
  height:71px;
}
#u4536 {
  position:absolute;
  left:2px;
  top:20px;
  width:80px;
  word-wrap:break-word;
}
#u4537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:72px;
}
#u4537 {
  position:absolute;
  left:212px;
  top:202px;
  width:84px;
  height:71px;
}
#u4538 {
  position:absolute;
  left:2px;
  top:20px;
  width:80px;
  word-wrap:break-word;
}
#u4539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:72px;
}
#u4539 {
  position:absolute;
  left:306px;
  top:283px;
  width:84px;
  height:71px;
  font-size:36px;
}
#u4540 {
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u4541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:72px;
}
#u4541 {
  position:absolute;
  left:212px;
  top:283px;
  width:84px;
  height:71px;
}
#u4542 {
  position:absolute;
  left:2px;
  top:20px;
  width:80px;
  word-wrap:break-word;
}
#u4541_ann {
  position:absolute;
  left:289px;
  top:279px;
  width:1px;
  height:1px;
}
#u4543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4543 {
  position:absolute;
  left:100px;
  top:15px;
  width:309px;
  height:40px;
}
#u4544 {
  position:absolute;
  left:2px;
  top:12px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4545 {
  position:absolute;
  left:234px;
  top:23px;
  width:41px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4546 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4547 {
  position:absolute;
  left:105px;
  top:23px;
  width:25px;
  height:25px;
}
#u4548 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
