body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:528px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10374 {
  position:absolute;
  left:228px;
  top:104px;
  width:300px;
  height:16px;
}
#u10375 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
