body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:772px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:214px;
  width:752px;
  height:90px;
}
#u293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u293_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:241px;
  word-wrap:break-word;
}
#u294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:0px;
  width:245px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u294_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:241px;
  word-wrap:break-word;
}
#u295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:0px;
  width:262px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u295_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:258px;
  word-wrap:break-word;
}
#u296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:245px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u296_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:241px;
  word-wrap:break-word;
}
#u297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:30px;
  width:245px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u297_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:241px;
  word-wrap:break-word;
}
#u298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:30px;
  width:262px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u298_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:258px;
  word-wrap:break-word;
}
#u299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:245px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u299_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:241px;
  word-wrap:break-word;
}
#u300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:60px;
  width:245px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u300_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:241px;
  word-wrap:break-word;
}
#u301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:60px;
  width:262px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u301_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:258px;
  word-wrap:break-word;
}
#u302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:175px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:638px;
  height:175px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u302_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:634px;
  word-wrap:break-word;
}
