body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:484px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8850 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:484px;
}
#u8851 {
  position:absolute;
  left:2px;
  top:234px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8852 {
  position:absolute;
  left:123px;
  top:485px;
  width:19px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8853 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u8854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:97px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u8854 {
  position:absolute;
  left:310px;
  top:0px;
  width:150px;
  height:97px;
}
#u8855 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8856 {
  position:absolute;
  left:132px;
  top:8px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8857 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8858 {
  position:absolute;
  left:0px;
  top:67px;
  width:300px;
  height:46px;
}
#u8859 {
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8860 {
  position:absolute;
  left:15px;
  top:81px;
  width:155px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8861 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u8862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8862 {
  position:absolute;
  left:221px;
  top:73px;
  width:66px;
  height:28px;
}
#u8863 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
