body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:633px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:484px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5521 {
  position:absolute;
  left:100px;
  top:15px;
  width:304px;
  height:484px;
}
#u5522 {
  position:absolute;
  left:2px;
  top:234px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5523 {
  position:absolute;
  left:234px;
  top:499px;
  width:109px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5524 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u5525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5525 {
  position:absolute;
  left:100px;
  top:15px;
  width:62px;
  height:24px;
}
#u5526 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u5527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5527 {
  position:absolute;
  left:221px;
  top:15px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5528 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5529 {
  position:absolute;
  left:100px;
  top:49px;
  width:111px;
  height:24px;
}
#u5530 {
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  word-wrap:break-word;
}
#u5531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:87px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5531 {
  position:absolute;
  left:414px;
  top:20px;
  width:219px;
  height:87px;
}
#u5532 {
  position:absolute;
  left:2px;
  top:20px;
  width:215px;
  word-wrap:break-word;
}
#u5533 {
  position:absolute;
  left:304px;
  top:49px;
  width:100px;
  height:25px;
}
#u5533_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5534 {
  position:absolute;
  left:342px;
  top:20px;
  width:55px;
  height:20px;
}
#u5535 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u5536 {
  position:absolute;
  left:211px;
  top:49px;
  width:93px;
  height:25px;
}
#u5536_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5537 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:127px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5538 {
  position:absolute;
  left:106px;
  top:83px;
  width:293px;
  height:127px;
}
#u5539 {
  position:absolute;
  left:2px;
  top:56px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5540 {
  position:absolute;
  left:112px;
  top:85px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5541 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5542 {
  position:absolute;
  left:112px;
  top:117px;
  width:57px;
  height:85px;
}
#u5543 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5544 {
  position:absolute;
  left:154px;
  top:179px;
  width:239px;
  height:23px;
}
#u5545 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u5546 {
  position:absolute;
  left:370px;
  top:130px;
  width:23px;
  height:16px;
}
#u5547 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5546_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
