body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:177px;
}
#u4342 {
  position:absolute;
  left:100px;
  top:39px;
  width:309px;
  height:177px;
}
#u4343 {
  position:absolute;
  left:2px;
  top:80px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4344 {
  position:absolute;
  left:100px;
  top:15px;
  width:62px;
  height:24px;
}
#u4345 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u4346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4346 {
  position:absolute;
  left:161px;
  top:15px;
  width:187px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4347 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u4348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:177px;
}
#u4348 {
  position:absolute;
  left:100px;
  top:218px;
  width:309px;
  height:177px;
}
#u4349 {
  position:absolute;
  left:2px;
  top:80px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:62px;
}
#u4350 {
  position:absolute;
  left:100px;
  top:399px;
  width:309px;
  height:62px;
}
#u4351 {
  position:absolute;
  left:2px;
  top:23px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:106px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4352 {
  position:absolute;
  left:431px;
  top:58px;
  width:189px;
  height:106px;
}
#u4353 {
  position:absolute;
  left:2px;
  top:5px;
  width:185px;
  word-wrap:break-word;
}
#u4354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4354 {
  position:absolute;
  left:100px;
  top:461px;
  width:309px;
  height:24px;
}
#u4355 {
  position:absolute;
  left:2px;
  top:4px;
  width:305px;
  word-wrap:break-word;
}
#u4356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:106px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4356 {
  position:absolute;
  left:431px;
  top:174px;
  width:189px;
  height:106px;
}
#u4357 {
  position:absolute;
  left:2px;
  top:45px;
  width:185px;
  word-wrap:break-word;
}
