body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1259px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1244px;
  height:571px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:463px;
  width:1244px;
  height:571px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:997px;
  width:150px;
  height:54px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_ann {
  border-width:0px;
  position:absolute;
  left:524px;
  top:993px;
  width:1px;
  height:1px;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:37px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:1006px;
  width:1px;
  height:36px;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
  text-align:center;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:1013px;
  width:16px;
  height:23px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
  text-align:center;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FF0000;
  text-align:center;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:1021px;
  width:16px;
  height:11px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FF0000;
  text-align:center;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:996px;
  width:16px;
  height:16px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:997px;
  width:150px;
  height:54px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:37px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:1006px;
  width:1px;
  height:36px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#797979;
  text-align:center;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:1013px;
  width:16px;
  height:23px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#797979;
  text-align:center;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
  text-align:center;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:1021px;
  width:16px;
  height:11px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
  text-align:center;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:997px;
  width:35px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:1005px;
  width:66px;
  height:11px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#797979;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:1034px;
  width:106px;
  height:9px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#797979;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#797979;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:1021px;
  width:106px;
  height:9px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#797979;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:1005px;
  width:66px;
  height:11px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#797979;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:1034px;
  width:106px;
  height:9px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#797979;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#797979;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:1021px;
  width:106px;
  height:9px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#797979;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:14px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:997px;
  width:47px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  word-wrap:break-word;
}
#u144_ann {
  border-width:0px;
  position:absolute;
  left:687px;
  top:993px;
  width:1px;
  height:1px;
}
#u145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:987px;
  width:76px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:411px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:24px;
  width:972px;
  height:411px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:968px;
  word-wrap:break-word;
}
