body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:627px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4777 {
  position:absolute;
  left:327px;
  top:92px;
  width:238px;
  height:16px;
}
#u4778 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  word-wrap:break-word;
}
#u4779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4779 {
  position:absolute;
  left:327px;
  top:118px;
  width:238px;
  height:16px;
}
#u4780 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  word-wrap:break-word;
}
#u4781 {
  position:absolute;
  left:327px;
  top:159px;
  width:100px;
  height:16px;
}
#u4782 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4781_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4783 {
  position:absolute;
  left:395px;
  top:159px;
  width:100px;
  height:16px;
}
#u4784 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4783_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4785 {
  position:absolute;
  left:465px;
  top:159px;
  width:100px;
  height:16px;
}
#u4786 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4785_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4787 {
  position:absolute;
  left:327px;
  top:210px;
  width:300px;
  height:170px;
}
#u4787_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4788 {
  position:absolute;
  left:327px;
  top:185px;
  width:43px;
  height:16px;
}
#u4789 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
