body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1258px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1252px;
  height:960px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11235 {
  position:absolute;
  left:6px;
  top:0px;
  width:1252px;
  height:960px;
}
#u11236 {
  position:absolute;
  left:2px;
  top:472px;
  width:1248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1258px;
  height:2px;
}
#u11237 {
  position:absolute;
  left:0px;
  top:65px;
  width:1257px;
  height:1px;
}
#u11238 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11239 {
  position:absolute;
  left:2px;
  top:32px;
  width:285px;
  height:36px;
}
#u11239_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:291px;
  height:42px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u11240 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:41px;
}
#u11241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u11241 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u11242 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u11243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u11243 {
  position:absolute;
  left:142px;
  top:0px;
  width:143px;
  height:36px;
}
#u11244 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u11245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11245 {
  position:absolute;
  left:439px;
  top:536px;
  width:449px;
  height:32px;
}
#u11246 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  word-wrap:break-word;
}
#u11247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:244px;
}
#u11247 {
  position:absolute;
  left:896px;
  top:717px;
  width:362px;
  height:243px;
  font-size:16px;
}
#u11248 {
  position:absolute;
  left:2px;
  top:112px;
  width:358px;
  word-wrap:break-word;
}
#u11247_ann {
  position:absolute;
  left:1251px;
  top:713px;
  width:1px;
  height:1px;
}
#u11249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:605px;
}
#u11249 {
  position:absolute;
  left:896px;
  top:103px;
  width:362px;
  height:604px;
  font-size:16px;
}
#u11250 {
  position:absolute;
  left:2px;
  top:292px;
  width:358px;
  word-wrap:break-word;
}
#u11249_ann {
  position:absolute;
  left:1251px;
  top:99px;
  width:1px;
  height:1px;
}
