body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:177px;
}
#u4977 {
  position:absolute;
  left:100px;
  top:39px;
  width:309px;
  height:177px;
}
#u4978 {
  position:absolute;
  left:2px;
  top:80px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4979 {
  position:absolute;
  left:100px;
  top:15px;
  width:62px;
  height:24px;
}
#u4980 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u4981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4981 {
  position:absolute;
  left:161px;
  top:15px;
  width:187px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4982 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u4983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:177px;
}
#u4983 {
  position:absolute;
  left:100px;
  top:218px;
  width:309px;
  height:177px;
}
#u4984 {
  position:absolute;
  left:2px;
  top:80px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:62px;
}
#u4985 {
  position:absolute;
  left:100px;
  top:399px;
  width:309px;
  height:62px;
}
#u4986 {
  position:absolute;
  left:2px;
  top:23px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:106px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4987 {
  position:absolute;
  left:431px;
  top:58px;
  width:189px;
  height:106px;
}
#u4988 {
  position:absolute;
  left:2px;
  top:5px;
  width:185px;
  word-wrap:break-word;
}
#u4989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4989 {
  position:absolute;
  left:100px;
  top:461px;
  width:309px;
  height:24px;
}
#u4990 {
  position:absolute;
  left:2px;
  top:4px;
  width:305px;
  word-wrap:break-word;
}
#u4991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:106px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4991 {
  position:absolute;
  left:431px;
  top:174px;
  width:189px;
  height:106px;
}
#u4992 {
  position:absolute;
  left:2px;
  top:45px;
  width:185px;
  word-wrap:break-word;
}
