body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:404px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:484px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5799 {
  position:absolute;
  left:100px;
  top:15px;
  width:304px;
  height:484px;
}
#u5800 {
  position:absolute;
  left:2px;
  top:234px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5801 {
  position:absolute;
  left:191px;
  top:499px;
  width:109px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5802 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u5803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5803 {
  position:absolute;
  left:100px;
  top:15px;
  width:62px;
  height:24px;
}
#u5804 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u5805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5805 {
  position:absolute;
  left:190px;
  top:16px;
  width:121px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5806 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u5807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:290px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5807 {
  position:absolute;
  left:109px;
  top:50px;
  width:283px;
  height:290px;
}
#u5808 {
  position:absolute;
  left:2px;
  top:137px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5809 {
  position:absolute;
  left:117px;
  top:193px;
  width:53px;
  height:16px;
}
#u5810 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5811 {
  position:absolute;
  left:117px;
  top:217px;
  width:53px;
  height:16px;
}
#u5812 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u5813 {
  position:absolute;
  left:277px;
  top:117px;
  width:101px;
  height:16px;
}
#u5814 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u5815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u5815 {
  position:absolute;
  left:277px;
  top:91px;
  width:58px;
  height:16px;
}
#u5816 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u5817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u5817 {
  position:absolute;
  left:327px;
  top:217px;
  width:52px;
  height:16px;
}
#u5818 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u5819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u5819 {
  position:absolute;
  left:277px;
  top:167px;
  width:101px;
  height:16px;
}
#u5820 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u5821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u5821 {
  position:absolute;
  left:339px;
  top:195px;
  width:39px;
  height:16px;
}
#u5822 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u5823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5823 {
  position:absolute;
  left:116px;
  top:240px;
  width:53px;
  height:16px;
}
#u5824 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u5825 {
  position:absolute;
  left:326px;
  top:240px;
  width:52px;
  height:16px;
}
#u5826 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u5827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5827 {
  position:absolute;
  left:117px;
  top:261px;
  width:53px;
  height:16px;
}
#u5828 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u5829 {
  position:absolute;
  left:342px;
  top:261px;
  width:39px;
  height:16px;
}
#u5830 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u5831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u5831 {
  position:absolute;
  left:118px;
  top:281px;
  width:66px;
  height:16px;
}
#u5832 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u5833 {
  position:absolute;
  left:343px;
  top:281px;
  width:39px;
  height:16px;
}
#u5834 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u5835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5835 {
  position:absolute;
  left:119px;
  top:303px;
  width:53px;
  height:16px;
}
#u5836 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u5837 {
  position:absolute;
  left:344px;
  top:303px;
  width:39px;
  height:16px;
}
#u5838 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u5839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u5839 {
  position:absolute;
  left:117px;
  top:65px;
  width:66px;
  height:16px;
}
#u5840 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5841 {
  position:absolute;
  left:117px;
  top:91px;
  width:53px;
  height:16px;
}
#u5842 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u5843 {
  position:absolute;
  left:117px;
  top:117px;
  width:53px;
  height:20px;
}
#u5844 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u5845 {
  position:absolute;
  left:117px;
  top:167px;
  width:53px;
  height:20px;
}
#u5846 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u5847 {
  position:absolute;
  left:117px;
  top:141px;
  width:53px;
  height:20px;
}
#u5848 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u5849 {
  position:absolute;
  left:277px;
  top:65px;
  width:92px;
  height:16px;
}
#u5850 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u5851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u5851 {
  position:absolute;
  left:284px;
  top:141px;
  width:94px;
  height:16px;
}
#u5852 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
