body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:231px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1282px;
  width:1100px;
  height:231px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1096px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:619px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1513px;
  width:1100px;
  height:619px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1601px;
  width:361px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:357px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:1609px;
  width:14px;
  height:14px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1631px;
  width:361px;
  height:283px;
  overflow:hidden;
}
#u73_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:283px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u73_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:829px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:829px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:10px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u75_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:601px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u76_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:47px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u77_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:66px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u78_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:84px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u79_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:103px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u80_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:121px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u81_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:27px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u82_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:155px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u83_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:173px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u84_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:192px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u85_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:210px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u86_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:227px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u87_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:244px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u88_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:262px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u89_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:281px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u90_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:299px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u91_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:316px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u92_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:333px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u93_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:391px;
  width:133px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u94_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:410px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u95_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:428px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u96_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:446px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u97_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:463px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u98_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:480px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u99_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:137px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u100_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:497px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u101_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:513px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u102_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:530px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u103_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:547px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u104_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:565px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u105_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:582px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u106_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:623px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u107_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:641px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u108_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:659px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u109_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:676px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u110_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:693px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u111_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:710px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u112_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:726px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u113_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:743px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u114_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:760px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u115_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:778px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u116_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:795px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u117_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:352px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u118_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:369px;
  width:117px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u119_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1913px;
  width:361px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:1918px;
  width:64px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:1918px;
  width:64px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:507px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:213px;
  width:1100px;
  height:507px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:29px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:326px;
  width:125px;
  height:29px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:333px;
  width:28px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:29px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:326px;
  width:125px;
  height:29px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:333px;
  width:28px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:29px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:326px;
  width:125px;
  height:29px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:333px;
  width:28px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:29px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:597px;
  width:125px;
  height:29px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:604px;
  width:54px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:629px;
  width:227px;
  height:80px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:590px;
  width:92px;
  height:32px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:57px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:641px;
  width:53px;
  height:57px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:57px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:641px;
  width:53px;
  height:57px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:57px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:641px;
  width:53px;
  height:57px;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:197px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:197px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1096px;
  word-wrap:break-word;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:507px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:730px;
  width:1100px;
  height:507px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:933px;
  width:253px;
  height:89px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:917px;
  width:80px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:955px;
  width:80px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:992px;
  width:204px;
  height:25px;
}
#u142_input {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u142_input:disabled {
  color:grayText;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:955px;
  width:204px;
  height:25px;
}
#u143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:917px;
  width:202px;
  height:25px;
}
#u144_input {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:992px;
  width:80px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:345px;
  width:0px;
  height:0px;
}
#u146_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:5px;
  height:8px;
}
#u146_seg1 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
  width:8px;
  height:258px;
}
#u146_seg2 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:246px;
  width:185px;
  height:8px;
}
#u146_seg3 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:246px;
  width:8px;
  height:139px;
}
#u146_seg4 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:370px;
  width:20px;
  height:20px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:242px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
