body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:698px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:156px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:156px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:694px;
  word-wrap:break-word;
}
