body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1019px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:202px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u1831 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:511px;
  width:777px;
  height:202px;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u1831_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:773px;
  word-wrap:break-word;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1009px;
  height:465px;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:1009px;
  height:465px;
}
#u1833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:78px;
  width:148px;
  height:14px;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u1834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:75px;
  width:72px;
  height:20px;
}
#u1835_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:75px;
  width:49px;
  height:20px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1836_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  word-wrap:break-word;
}
#u1837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:140px;
  width:300px;
  height:58px;
}
#u1837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:162px;
  width:148px;
  height:14px;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u1838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:159px;
  width:72px;
  height:20px;
}
#u1839_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:160px;
  width:49px;
  height:20px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1840_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  word-wrap:break-word;
}
#u1841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:49px;
  width:330px;
  height:62px;
}
#u1841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:95px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1842_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u1842_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:31px;
  width:41px;
  height:8px;
}
#u1842_seg2 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:31px;
  width:8px;
  height:14px;
}
#u1842_text {
  border-width:0px;
  position:absolute;
  left:-46px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:160px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1843_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-84px;
  width:8px;
  height:84px;
}
#u1843_seg1 {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:-84px;
  width:99px;
  height:8px;
}
#u1843_text {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:-88px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
