body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1018px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:463px;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:177px;
  width:1004px;
  height:463px;
}
#u518_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:369px;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:230px;
  width:728px;
  height:369px;
}
#u519_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:22px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:230px;
  width:115px;
  height:22px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u521_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:111px;
  word-wrap:break-word;
}
#u522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:22px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:230px;
  width:115px;
  height:22px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u522_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:111px;
  word-wrap:break-word;
}
#u523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:230px;
  width:136px;
  height:22px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u523_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:132px;
  word-wrap:break-word;
}
#u524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:22px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:230px;
  width:115px;
  height:22px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u524_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:111px;
  word-wrap:break-word;
}
#u525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:272px;
  width:113px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u525_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:300px;
  width:161px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u526_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:157px;
  word-wrap:break-word;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:300px;
  width:352px;
  height:25px;
}
#u527_input {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:335px;
  width:161px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u528_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:157px;
  word-wrap:break-word;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:335px;
  width:352px;
  height:25px;
}
#u529_input {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:385px;
  width:200px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u530_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:385px;
  width:200px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u531_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:420px;
  width:200px;
  height:25px;
}
#u532_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:420px;
  width:200px;
  height:25px;
}
#u533_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u533_input:disabled {
  color:grayText;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:452px;
  width:200px;
  height:25px;
}
#u534_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:452px;
  width:200px;
  height:25px;
}
#u535_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u535_input:disabled {
  color:grayText;
}
#u536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:452px;
  width:86px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u536_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:82px;
  word-wrap:break-word;
}
#u537 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:484px;
  width:200px;
  height:25px;
}
#u537_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:484px;
  width:200px;
  height:25px;
}
#u538_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u538_input:disabled {
  color:grayText;
}
#u539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:484px;
  width:86px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u539_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:82px;
  word-wrap:break-word;
}
#u540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:25px;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:516px;
  width:415px;
  height:25px;
  font-size:28px;
}
#u540_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:411px;
  word-wrap:break-word;
}
#u541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:574px;
  width:86px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u541_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:82px;
  word-wrap:break-word;
}
#u542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:574px;
  width:86px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u542_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:82px;
  word-wrap:break-word;
}
#u543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:996px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:25px;
  width:996px;
  height:136px;
  font-family:'等线 Bold', '等线';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u543_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:992px;
  word-wrap:break-word;
}
