body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:866px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u815 {
  position:absolute;
  left:376px;
  top:204px;
  width:490px;
  height:300px;
  color:#000000;
}
#u816 {
  position:absolute;
  left:2px;
  top:142px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u817 {
  position:absolute;
  left:585px;
  top:211px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u818 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u819 {
  position:absolute;
  left:749px;
  top:338px;
  width:79px;
  height:25px;
}
#u819_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u820 {
  position:absolute;
  left:765px;
  top:404px;
  width:79px;
  height:25px;
}
#u820_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:301px;
}
#u821 {
  position:absolute;
  left:37px;
  top:204px;
  width:339px;
  height:300px;
  color:#000000;
}
#u822 {
  position:absolute;
  left:2px;
  top:126px;
  width:335px;
  word-wrap:break-word;
}
#u823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:28px;
}
#u823 {
  position:absolute;
  left:385px;
  top:248px;
  width:151px;
  height:27px;
  color:#000000;
}
#u824 {
  position:absolute;
  left:2px;
  top:6px;
  width:147px;
  word-wrap:break-word;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u825 {
  position:absolute;
  left:419px;
  top:275px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u826 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:28px;
}
#u827 {
  position:absolute;
  left:544px;
  top:248px;
  width:151px;
  height:27px;
  color:#000000;
}
#u828 {
  position:absolute;
  left:2px;
  top:6px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u829 {
  position:absolute;
  left:576px;
  top:275px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u830 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:28px;
}
#u831 {
  position:absolute;
  left:705px;
  top:248px;
  width:151px;
  height:27px;
  color:#000000;
}
#u832 {
  position:absolute;
  left:2px;
  top:6px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u833 {
  position:absolute;
  left:738px;
  top:275px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u834 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u835 {
  position:absolute;
  left:601px;
  top:339px;
  width:131px;
  height:25px;
}
#u835_input {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u836 {
  position:absolute;
  left:419px;
  top:339px;
  width:101px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u837 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u838 {
  position:absolute;
  left:397px;
  top:404px;
  width:79px;
  height:25px;
}
#u838_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u839 {
  position:absolute;
  left:487px;
  top:404px;
  width:79px;
  height:25px;
}
#u839_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u840 {
  position:absolute;
  left:579px;
  top:404px;
  width:79px;
  height:25px;
}
#u840_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u841 {
  position:absolute;
  left:674px;
  top:404px;
  width:79px;
  height:25px;
}
#u841_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u842 {
  position:absolute;
  left:520px;
  top:339px;
  width:71px;
  height:25px;
}
#u842_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
