body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:776px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7189 {
  position:absolute;
  left:0px;
  top:0px;
  width:781px;
  height:179px;
}
#u7190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u7190 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u7191 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u7192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:30px;
}
#u7192 {
  position:absolute;
  left:63px;
  top:0px;
  width:547px;
  height:30px;
}
#u7193 {
  position:absolute;
  left:2px;
  top:7px;
  width:543px;
  word-wrap:break-word;
}
#u7194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u7194 {
  position:absolute;
  left:610px;
  top:0px;
  width:166px;
  height:30px;
}
#u7195 {
  position:absolute;
  left:2px;
  top:7px;
  width:162px;
  word-wrap:break-word;
}
#u7196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u7196 {
  position:absolute;
  left:0px;
  top:30px;
  width:63px;
  height:36px;
}
#u7197 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u7198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:36px;
}
#u7198 {
  position:absolute;
  left:63px;
  top:30px;
  width:547px;
  height:36px;
}
#u7199 {
  position:absolute;
  left:2px;
  top:10px;
  width:543px;
  word-wrap:break-word;
}
#u7200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:36px;
}
#u7200 {
  position:absolute;
  left:610px;
  top:30px;
  width:166px;
  height:36px;
}
#u7201 {
  position:absolute;
  left:2px;
  top:10px;
  width:162px;
  word-wrap:break-word;
}
#u7202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u7202 {
  position:absolute;
  left:0px;
  top:66px;
  width:63px;
  height:36px;
}
#u7203 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u7204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:36px;
}
#u7204 {
  position:absolute;
  left:63px;
  top:66px;
  width:547px;
  height:36px;
}
#u7205 {
  position:absolute;
  left:2px;
  top:10px;
  width:543px;
  word-wrap:break-word;
}
#u7206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:36px;
}
#u7206 {
  position:absolute;
  left:610px;
  top:66px;
  width:166px;
  height:36px;
}
#u7207 {
  position:absolute;
  left:2px;
  top:10px;
  width:162px;
  word-wrap:break-word;
}
#u7208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u7208 {
  position:absolute;
  left:0px;
  top:102px;
  width:63px;
  height:36px;
}
#u7209 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u7210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:36px;
}
#u7210 {
  position:absolute;
  left:63px;
  top:102px;
  width:547px;
  height:36px;
}
#u7211 {
  position:absolute;
  left:2px;
  top:10px;
  width:543px;
  word-wrap:break-word;
}
#u7212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:36px;
}
#u7212 {
  position:absolute;
  left:610px;
  top:102px;
  width:166px;
  height:36px;
}
#u7213 {
  position:absolute;
  left:2px;
  top:10px;
  width:162px;
  word-wrap:break-word;
}
#u7214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u7214 {
  position:absolute;
  left:0px;
  top:138px;
  width:63px;
  height:36px;
}
#u7215 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u7216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:36px;
}
#u7216 {
  position:absolute;
  left:63px;
  top:138px;
  width:547px;
  height:36px;
}
#u7217 {
  position:absolute;
  left:2px;
  top:10px;
  width:543px;
  word-wrap:break-word;
}
#u7218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:36px;
}
#u7218 {
  position:absolute;
  left:610px;
  top:138px;
  width:166px;
  height:36px;
}
#u7219 {
  position:absolute;
  left:2px;
  top:10px;
  width:162px;
  word-wrap:break-word;
}
