body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:404px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:484px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2088 {
  position:absolute;
  left:100px;
  top:15px;
  width:304px;
  height:484px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:234px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2090 {
  position:absolute;
  left:234px;
  top:499px;
  width:19px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2091 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:313px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2092 {
  position:absolute;
  left:109px;
  top:50px;
  width:283px;
  height:313px;
}
#u2093 {
  position:absolute;
  left:2px;
  top:148px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u2094 {
  position:absolute;
  left:210px;
  top:151px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u2095 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u2096 {
  position:absolute;
  left:117px;
  top:212px;
  width:53px;
  height:16px;
}
#u2097 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u2098 {
  position:absolute;
  left:117px;
  top:236px;
  width:53px;
  height:16px;
}
#u2099 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u2100 {
  position:absolute;
  left:190px;
  top:170px;
  width:131px;
  height:16px;
}
#u2101 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u2102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u2102 {
  position:absolute;
  left:200px;
  top:132px;
  width:94px;
  height:16px;
}
#u2103 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u2104 {
  position:absolute;
  left:327px;
  top:236px;
  width:52px;
  height:16px;
}
#u2105 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u2106 {
  position:absolute;
  left:190px;
  top:188px;
  width:131px;
  height:16px;
}
#u2107 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u2108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2108 {
  position:absolute;
  left:216px;
  top:18px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2109 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2110 {
  position:absolute;
  left:109px;
  top:23px;
  width:41px;
  height:16px;
}
#u2111 {
  position:absolute;
  left:2px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u2112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2112 {
  position:absolute;
  left:221px;
  top:87px;
  width:51px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2113 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u2114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u2114 {
  position:absolute;
  left:326px;
  top:59px;
  width:53px;
  height:16px;
  text-decoration:underline;
}
#u2115 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u2116 {
  position:absolute;
  left:339px;
  top:214px;
  width:39px;
  height:16px;
}
#u2117 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u2118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u2118 {
  position:absolute;
  left:116px;
  top:257px;
  width:53px;
  height:16px;
}
#u2119 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u2120 {
  position:absolute;
  left:326px;
  top:257px;
  width:52px;
  height:16px;
}
#u2121 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u2122 {
  position:absolute;
  left:117px;
  top:276px;
  width:53px;
  height:16px;
}
#u2123 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u2124 {
  position:absolute;
  left:342px;
  top:276px;
  width:39px;
  height:16px;
}
#u2125 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u2126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u2126 {
  position:absolute;
  left:118px;
  top:293px;
  width:66px;
  height:16px;
}
#u2127 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u2128 {
  position:absolute;
  left:343px;
  top:293px;
  width:39px;
  height:16px;
}
#u2129 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u2130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u2130 {
  position:absolute;
  left:119px;
  top:312px;
  width:53px;
  height:16px;
}
#u2131 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u2132 {
  position:absolute;
  left:344px;
  top:312px;
  width:39px;
  height:16px;
}
#u2133 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u2134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2134 {
  position:absolute;
  left:201px;
  top:335px;
  width:101px;
  height:21px;
}
#u2135 {
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  word-wrap:break-word;
}
#u2136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:170px;
}
#u2136 {
  position:absolute;
  left:109px;
  top:76px;
  width:283px;
  height:170px;
}
#u2137 {
  position:absolute;
  left:2px;
  top:77px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
