body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4490px;
  height:2381px;
}
#u126 {
  position:absolute;
  left:0px;
  top:45px;
  width:4490px;
  height:2381px;
}
#u127 {
  position:absolute;
  left:2px;
  top:1182px;
  width:4486px;
  visibility:hidden;
  word-wrap:break-word;
}
