body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:407px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:480px;
}
#u2416 {
  position:absolute;
  left:100px;
  top:15px;
  width:307px;
  height:480px;
}
#u2417 {
  position:absolute;
  left:2px;
  top:232px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2418 {
  position:absolute;
  left:184px;
  top:498px;
  width:163px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2419 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
