body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1258px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1252px;
  height:926px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8644 {
  position:absolute;
  left:5px;
  top:34px;
  width:1252px;
  height:926px;
}
#u8645 {
  position:absolute;
  left:2px;
  top:455px;
  width:1248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:31px;
}
#u8646 {
  position:absolute;
  left:7px;
  top:3px;
  width:158px;
  height:31px;
}
#u8647 {
  position:absolute;
  left:2px;
  top:8px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:22px;
}
#u8648 {
  position:absolute;
  left:149px;
  top:12px;
  width:16px;
  height:22px;
}
#u8649 {
  position:absolute;
  left:2px;
  top:3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:38px;
  background:inherit;
  background-color:rgba(236, 240, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8650 {
  position:absolute;
  left:7px;
  top:34px;
  width:1251px;
  height:38px;
}
#u8651 {
  position:absolute;
  left:2px;
  top:11px;
  width:1247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:19px;
}
#u8652 {
  position:absolute;
  left:19px;
  top:44px;
  width:24px;
  height:19px;
}
#u8653 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u8654 {
  position:absolute;
  left:43px;
  top:47px;
  width:116px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u8655 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u8656 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
}
#u8657 {
  position:absolute;
  left:229px;
  top:79px;
  width:195px;
  height:25px;
}
#u8658 {
  position:absolute;
  left:2px;
  top:4px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8659 {
  position:absolute;
  left:312px;
  top:79px;
  width:112px;
  height:25px;
}
#u8659_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8659_input:disabled {
  color:grayText;
}
#u8660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8660 {
  position:absolute;
  left:245px;
  top:86px;
  width:57px;
  height:16px;
}
#u8661 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(85, 135, 220, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#5684DD;
}
#u8662 {
  position:absolute;
  left:10px;
  top:123px;
  width:140px;
  height:40px;
  font-size:16px;
  color:#5684DD;
}
#u8663 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u8664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
}
#u8664 {
  position:absolute;
  left:8px;
  top:80px;
  width:210px;
  height:25px;
}
#u8665 {
  position:absolute;
  left:2px;
  top:4px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8666 {
  position:absolute;
  left:32px;
  top:84px;
  width:42px;
  height:16px;
}
#u8667 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u8668 {
  position:absolute;
  left:87px;
  top:80px;
  width:127px;
  height:25px;
}
#u8668_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8669 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:26px;
}
#u8670 {
  position:absolute;
  left:660px;
  top:79px;
  width:374px;
  height:26px;
}
#u8671 {
  position:absolute;
  left:2px;
  top:5px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8672 {
  position:absolute;
  left:770px;
  top:80px;
  width:264px;
  height:25px;
}
#u8672_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8672_input:disabled {
  color:grayText;
}
#u8673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8673 {
  position:absolute;
  left:676px;
  top:86px;
  width:85px;
  height:16px;
}
#u8674 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8675 {
  position:absolute;
  left:37px;
  top:13px;
  width:71px;
  height:16px;
  color:#FFFFFF;
}
#u8676 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8677 {
  position:absolute;
  left:1052px;
  top:74px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u8678 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u8679 {
  position:absolute;
  left:15px;
  top:172px;
  width:848px;
  height:95px;
}
#u8680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u8680 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u8681 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u8682 {
  position:absolute;
  left:105px;
  top:0px;
  width:105px;
  height:30px;
}
#u8683 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u8684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u8684 {
  position:absolute;
  left:210px;
  top:0px;
  width:105px;
  height:30px;
}
#u8685 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u8686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u8686 {
  position:absolute;
  left:315px;
  top:0px;
  width:105px;
  height:30px;
}
#u8687 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u8688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u8688 {
  position:absolute;
  left:420px;
  top:0px;
  width:105px;
  height:30px;
}
#u8689 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u8690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u8690 {
  position:absolute;
  left:525px;
  top:0px;
  width:105px;
  height:30px;
}
#u8691 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u8692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:30px;
}
#u8692 {
  position:absolute;
  left:630px;
  top:0px;
  width:213px;
  height:30px;
}
#u8693 {
  position:absolute;
  left:2px;
  top:7px;
  width:209px;
  word-wrap:break-word;
}
#u8694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u8694 {
  position:absolute;
  left:0px;
  top:30px;
  width:105px;
  height:30px;
}
#u8695 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u8696 {
  position:absolute;
  left:105px;
  top:30px;
  width:105px;
  height:30px;
}
#u8697 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u8698 {
  position:absolute;
  left:210px;
  top:30px;
  width:105px;
  height:30px;
}
#u8699 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u8700 {
  position:absolute;
  left:315px;
  top:30px;
  width:105px;
  height:30px;
}
#u8701 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u8702 {
  position:absolute;
  left:420px;
  top:30px;
  width:105px;
  height:30px;
}
#u8703 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u8704 {
  position:absolute;
  left:525px;
  top:30px;
  width:105px;
  height:30px;
}
#u8705 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:30px;
}
#u8706 {
  position:absolute;
  left:630px;
  top:30px;
  width:213px;
  height:30px;
}
#u8707 {
  position:absolute;
  left:2px;
  top:7px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u8708 {
  position:absolute;
  left:0px;
  top:60px;
  width:105px;
  height:30px;
}
#u8709 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u8710 {
  position:absolute;
  left:105px;
  top:60px;
  width:105px;
  height:30px;
}
#u8711 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u8712 {
  position:absolute;
  left:210px;
  top:60px;
  width:105px;
  height:30px;
}
#u8713 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u8714 {
  position:absolute;
  left:315px;
  top:60px;
  width:105px;
  height:30px;
}
#u8715 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u8716 {
  position:absolute;
  left:420px;
  top:60px;
  width:105px;
  height:30px;
}
#u8717 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u8718 {
  position:absolute;
  left:525px;
  top:60px;
  width:105px;
  height:30px;
}
#u8719 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:30px;
}
#u8720 {
  position:absolute;
  left:630px;
  top:60px;
  width:213px;
  height:30px;
}
#u8721 {
  position:absolute;
  left:2px;
  top:7px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8722 {
  position:absolute;
  left:60px;
  top:179px;
  width:16px;
  height:16px;
}
#u8723 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8722_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8724 {
  position:absolute;
  left:61px;
  top:209px;
  width:16px;
  height:16px;
}
#u8725 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8724_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8726 {
  position:absolute;
  left:61px;
  top:239px;
  width:16px;
  height:16px;
}
#u8727 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8726_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:2px;
}
#u8728 {
  position:absolute;
  left:8px;
  top:873px;
  width:1250px;
  height:1px;
}
#u8729 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:2px;
}
#u8730 {
  position:absolute;
  left:19px;
  top:117px;
  width:1215px;
  height:1px;
}
#u8731 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8732 {
  position:absolute;
  left:40px;
  top:904px;
  width:95px;
  height:16px;
}
#u8733 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u8734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8734 {
  position:absolute;
  left:364px;
  top:904px;
  width:61px;
  height:28px;
}
#u8735 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u8736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8736 {
  position:absolute;
  left:425px;
  top:904px;
  width:61px;
  height:28px;
}
#u8737 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u8738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8738 {
  position:absolute;
  left:486px;
  top:904px;
  width:61px;
  height:28px;
}
#u8739 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u8740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8740 {
  position:absolute;
  left:547px;
  top:904px;
  width:61px;
  height:28px;
}
#u8741 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u8742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8742 {
  position:absolute;
  left:669px;
  top:904px;
  width:61px;
  height:28px;
}
#u8743 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u8744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8744 {
  position:absolute;
  left:791px;
  top:904px;
  width:61px;
  height:28px;
}
#u8745 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u8746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8746 {
  position:absolute;
  left:852px;
  top:904px;
  width:61px;
  height:28px;
}
#u8747 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u8748 {
  position:absolute;
  left:608px;
  top:907px;
  width:61px;
  height:25px;
}
#u8748_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8749 {
  position:absolute;
  left:730px;
  top:904px;
  width:61px;
  height:28px;
}
#u8750 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u8751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8751 {
  position:absolute;
  left:1064px;
  top:904px;
  width:61px;
  height:28px;
}
#u8752 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u8753 {
  position:absolute;
  left:1123px;
  top:904px;
  width:53px;
  height:28px;
}
#u8753_input {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8753_input:disabled {
  color:grayText;
}
#u8754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8754 {
  position:absolute;
  left:1176px;
  top:904px;
  width:44px;
  height:28px;
}
#u8755 {
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u8756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8756 {
  position:absolute;
  left:730px;
  top:209px;
  width:44px;
  height:19px;
  font-size:12px;
}
#u8757 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u8758 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
}
#u8759 {
  position:absolute;
  left:445px;
  top:80px;
  width:195px;
  height:25px;
}
#u8760 {
  position:absolute;
  left:2px;
  top:4px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8761 {
  position:absolute;
  left:528px;
  top:80px;
  width:112px;
  height:25px;
}
#u8761_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8761_input:disabled {
  color:grayText;
}
#u8762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8762 {
  position:absolute;
  left:461px;
  top:87px;
  width:57px;
  height:16px;
}
#u8763 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8764 {
  position:absolute;
  left:1148px;
  top:134px;
  width:44px;
  height:19px;
  font-size:12px;
}
#u8765 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u8766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8766 {
  position:absolute;
  left:1214px;
  top:134px;
  width:44px;
  height:19px;
  font-size:12px;
}
#u8767 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u8768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8768 {
  position:absolute;
  left:1006px;
  top:134px;
  width:44px;
  height:19px;
  font-size:12px;
}
#u8769 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u8770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8770 {
  position:absolute;
  left:1072px;
  top:134px;
  width:44px;
  height:19px;
  font-size:12px;
}
#u8771 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
