body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1177px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:498px;
}
#u1660 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:7px;
  width:1171px;
  height:498px;
}
#u1660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1662 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:128px;
  width:79px;
  height:313px;
}
#u1663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
}
#u1663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u1664 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:39px;
  height:23px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u1665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  height:20px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1665_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u1666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u1666 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:23px;
  width:39px;
  height:20px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u1667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:43px;
  width:40px;
  height:23px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:43px;
  width:39px;
  height:23px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:40px;
  height:24px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:66px;
  width:39px;
  height:24px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:40px;
  height:26px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:26px;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:90px;
  width:39px;
  height:26px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:116px;
  width:40px;
  height:23px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:116px;
  width:39px;
  height:23px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:139px;
  width:40px;
  height:28px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:28px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:139px;
  width:39px;
  height:28px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:167px;
  width:40px;
  height:24px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:167px;
  width:39px;
  height:24px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:191px;
  width:40px;
  height:25px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:25px;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:191px;
  width:39px;
  height:25px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:216px;
  width:40px;
  height:25px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:25px;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:216px;
  width:39px;
  height:25px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:241px;
  width:40px;
  height:25px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:25px;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:241px;
  width:39px;
  height:25px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:266px;
  width:40px;
  height:25px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:25px;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:266px;
  width:39px;
  height:25px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:291px;
  width:40px;
  height:22px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:291px;
  width:39px;
  height:22px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:125px;
  width:79px;
  height:27px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1689_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u1690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:522px;
  width:627px;
  height:112px;
  font-family:'等线 Bold', '等线';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u1690_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:623px;
  word-wrap:break-word;
}
#u1691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:345px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:115px;
  width:93px;
  height:345px;
}
#u1691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
