body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1152px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:210px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:210px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:899px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1152px;
  height:531px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:231px;
  width:1152px;
  height:531px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:506px;
  width:199px;
  height:109px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:501px;
  width:100px;
  height:120px;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:79px;
  height:31px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:552px;
  width:64px;
  height:5px;
  color:#FF0000;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1152px;
  height:531px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:800px;
  width:1152px;
  height:531px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:55px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:995px;
  width:52px;
  height:55px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:1053px;
  width:68px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:985px;
  width:94px;
  height:91px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1152px;
  height:531px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1372px;
  width:1152px;
  height:531px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:56px;
  background:inherit;
  background-color:rgba(204, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:1400px;
  width:278px;
  height:56px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:274px;
  word-wrap:break-word;
}
