body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:462px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:484px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4876 {
  position:absolute;
  left:100px;
  top:15px;
  width:362px;
  height:484px;
}
#u4877 {
  position:absolute;
  left:2px;
  top:234px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4878 {
  position:absolute;
  left:234px;
  top:499px;
  width:145px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4879 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4880 {
  position:absolute;
  left:100px;
  top:15px;
  width:62px;
  height:24px;
}
#u4881 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u4882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4882 {
  position:absolute;
  left:221px;
  top:15px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4883 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4884 {
  position:absolute;
  left:116px;
  top:81px;
  width:261px;
  height:118px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4885 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u4886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4886 {
  position:absolute;
  left:116px;
  top:209px;
  width:261px;
  height:118px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4887 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u4888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4888 {
  position:absolute;
  left:116px;
  top:337px;
  width:229px;
  height:83px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4889 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
