body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:643px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:141px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:141px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:639px;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:358px;
  width:354px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:350px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:27px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:383px;
  width:354px;
  height:27px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:104px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:410px;
  width:354px;
  height:104px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:157px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:201px;
  width:354px;
  height:157px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:151px;
  width:354px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:350px;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:27px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:176px;
  width:354px;
  height:27px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
