body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:618px;
}
#u4966 {
  position:absolute;
  left:100px;
  top:15px;
  width:350px;
  height:618px;
}
#u4967 {
  position:absolute;
  left:2px;
  top:301px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4968 {
  position:absolute;
  left:297px;
  top:633px;
  width:145px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4969 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4970 {
  position:absolute;
  left:390px;
  top:40px;
  width:52px;
  height:20px;
}
#u4971 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u4972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4972 {
  position:absolute;
  left:114px;
  top:315px;
  width:57px;
  height:16px;
}
#u4973 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:2px;
}
#u4974 {
  position:absolute;
  left:114px;
  top:335px;
  width:316px;
  height:1px;
}
#u4975 {
  position:absolute;
  left:2px;
  top:-8px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4976 {
  position:absolute;
  left:114px;
  top:346px;
  width:293px;
  height:16px;
}
#u4977 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  white-space:nowrap;
}
#u4978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4978 {
  position:absolute;
  left:114px;
  top:369px;
  width:293px;
  height:16px;
}
#u4979 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  white-space:nowrap;
}
