body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2130px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:81px;
}
#u3675 {
  position:absolute;
  left:10px;
  top:10px;
  width:100px;
  height:80px;
  color:#000000;
}
#u3676 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  word-wrap:break-word;
}
#u3677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3677 {
  position:absolute;
  left:109px;
  top:10px;
  width:111px;
  height:30px;
  color:#000000;
}
#u3678 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u3679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3679 {
  position:absolute;
  left:220px;
  top:10px;
  width:111px;
  height:30px;
  color:#000000;
}
#u3680 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u3681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3681 {
  position:absolute;
  left:331px;
  top:10px;
  width:111px;
  height:30px;
  color:#000000;
}
#u3682 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u3683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3683 {
  position:absolute;
  left:440px;
  top:10px;
  width:111px;
  height:30px;
  color:#000000;
}
#u3684 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u3685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3685 {
  position:absolute;
  left:310px;
  top:92px;
  width:27px;
  height:16px;
  color:#000000;
}
#u3686 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u3687 {
  position:absolute;
  left:347px;
  top:87px;
  width:138px;
  height:25px;
}
#u3687_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3688 {
  position:absolute;
  left:113px;
  top:121px;
  width:2022px;
  height:101px;
}
#u3689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u3689 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u3690 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u3691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
}
#u3691 {
  position:absolute;
  left:44px;
  top:0px;
  width:114px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u3692 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u3693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
}
#u3693 {
  position:absolute;
  left:158px;
  top:0px;
  width:106px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u3694 {
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u3695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
}
#u3695 {
  position:absolute;
  left:264px;
  top:0px;
  width:134px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u3696 {
  position:absolute;
  left:2px;
  top:2px;
  width:130px;
  word-wrap:break-word;
}
#u3697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:20px;
}
#u3697 {
  position:absolute;
  left:398px;
  top:0px;
  width:146px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u3698 {
  position:absolute;
  left:2px;
  top:2px;
  width:142px;
  word-wrap:break-word;
}
#u3699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u3699 {
  position:absolute;
  left:544px;
  top:0px;
  width:98px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u3700 {
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  word-wrap:break-word;
}
#u3701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
}
#u3701 {
  position:absolute;
  left:642px;
  top:0px;
  width:134px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u3702 {
  position:absolute;
  left:2px;
  top:2px;
  width:130px;
  word-wrap:break-word;
}
#u3703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
}
#u3703 {
  position:absolute;
  left:776px;
  top:0px;
  width:135px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u3704 {
  position:absolute;
  left:2px;
  top:2px;
  width:131px;
  word-wrap:break-word;
}
#u3705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
}
#u3705 {
  position:absolute;
  left:911px;
  top:0px;
  width:134px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u3706 {
  position:absolute;
  left:2px;
  top:2px;
  width:130px;
  word-wrap:break-word;
}
#u3707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
}
#u3707 {
  position:absolute;
  left:1045px;
  top:0px;
  width:135px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u3708 {
  position:absolute;
  left:2px;
  top:2px;
  width:131px;
  word-wrap:break-word;
}
#u3709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
}
#u3709 {
  position:absolute;
  left:1180px;
  top:0px;
  width:134px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u3710 {
  position:absolute;
  left:2px;
  top:2px;
  width:130px;
  word-wrap:break-word;
}
#u3711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
}
#u3711 {
  position:absolute;
  left:1314px;
  top:0px;
  width:135px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u3712 {
  position:absolute;
  left:2px;
  top:2px;
  width:131px;
  word-wrap:break-word;
}
#u3713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
}
#u3713 {
  position:absolute;
  left:1449px;
  top:0px;
  width:106px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u3714 {
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u3715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
}
#u3715 {
  position:absolute;
  left:1555px;
  top:0px;
  width:101px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u3716 {
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  word-wrap:break-word;
}
#u3717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:20px;
}
#u3717 {
  position:absolute;
  left:1656px;
  top:0px;
  width:361px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u3718 {
  position:absolute;
  left:2px;
  top:2px;
  width:357px;
  word-wrap:break-word;
}
#u3719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:76px;
}
#u3719 {
  position:absolute;
  left:0px;
  top:20px;
  width:44px;
  height:76px;
  color:#FF0000;
  text-align:center;
}
#u3720 {
  position:absolute;
  left:2px;
  top:30px;
  width:40px;
  word-wrap:break-word;
}
#u3721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:76px;
}
#u3721 {
  position:absolute;
  left:44px;
  top:20px;
  width:114px;
  height:76px;
  color:#FF0000;
  text-align:center;
}
#u3722 {
  position:absolute;
  left:2px;
  top:30px;
  width:110px;
  word-wrap:break-word;
}
#u3723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:76px;
}
#u3723 {
  position:absolute;
  left:158px;
  top:20px;
  width:106px;
  height:76px;
  color:#FF0000;
  text-align:center;
}
#u3724 {
  position:absolute;
  left:2px;
  top:30px;
  width:102px;
  word-wrap:break-word;
}
#u3725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:76px;
}
#u3725 {
  position:absolute;
  left:264px;
  top:20px;
  width:134px;
  height:76px;
  color:#FF0000;
  text-align:center;
}
#u3726 {
  position:absolute;
  left:2px;
  top:30px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:76px;
}
#u3727 {
  position:absolute;
  left:398px;
  top:20px;
  width:146px;
  height:76px;
  color:#FF0000;
  text-align:center;
}
#u3728 {
  position:absolute;
  left:2px;
  top:30px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:76px;
}
#u3729 {
  position:absolute;
  left:544px;
  top:20px;
  width:98px;
  height:76px;
  color:#FF0000;
  text-align:center;
}
#u3730 {
  position:absolute;
  left:2px;
  top:30px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:76px;
}
#u3731 {
  position:absolute;
  left:642px;
  top:20px;
  width:134px;
  height:76px;
  color:#FF0000;
  text-align:center;
}
#u3732 {
  position:absolute;
  left:2px;
  top:30px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:76px;
}
#u3733 {
  position:absolute;
  left:776px;
  top:20px;
  width:135px;
  height:76px;
  color:#FF0000;
  text-align:center;
}
#u3734 {
  position:absolute;
  left:2px;
  top:30px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:76px;
}
#u3735 {
  position:absolute;
  left:911px;
  top:20px;
  width:134px;
  height:76px;
  color:#FF0000;
  text-align:center;
}
#u3736 {
  position:absolute;
  left:2px;
  top:30px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:76px;
}
#u3737 {
  position:absolute;
  left:1045px;
  top:20px;
  width:135px;
  height:76px;
  color:#FF0000;
  text-align:center;
}
#u3738 {
  position:absolute;
  left:2px;
  top:30px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:76px;
}
#u3739 {
  position:absolute;
  left:1180px;
  top:20px;
  width:134px;
  height:76px;
  color:#FF0000;
  text-align:center;
}
#u3740 {
  position:absolute;
  left:2px;
  top:30px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:76px;
}
#u3741 {
  position:absolute;
  left:1314px;
  top:20px;
  width:135px;
  height:76px;
  color:#FF0000;
  text-align:center;
}
#u3742 {
  position:absolute;
  left:2px;
  top:30px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:76px;
}
#u3743 {
  position:absolute;
  left:1449px;
  top:20px;
  width:106px;
  height:76px;
  color:#FF0000;
  text-align:center;
}
#u3744 {
  position:absolute;
  left:2px;
  top:30px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:76px;
}
#u3745 {
  position:absolute;
  left:1555px;
  top:20px;
  width:101px;
  height:76px;
  color:#FF0000;
  text-align:center;
}
#u3746 {
  position:absolute;
  left:2px;
  top:30px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:76px;
}
#u3747 {
  position:absolute;
  left:1656px;
  top:20px;
  width:361px;
  height:76px;
  color:#FF0000;
  text-align:center;
}
#u3748 {
  position:absolute;
  left:2px;
  top:30px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3749 {
  position:absolute;
  left:1302px;
  top:83px;
  width:49px;
  height:25px;
}
#u3749_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u3750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3750 {
  position:absolute;
  left:113px;
  top:92px;
  width:57px;
  height:16px;
  color:#000000;
}
#u3751 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u3752 {
  position:absolute;
  left:187px;
  top:87px;
  width:106px;
  height:25px;
}
#u3752_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3753 {
  position:absolute;
  left:712px;
  top:92px;
  width:49px;
  height:25px;
}
#u3753_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u3754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3754 {
  position:absolute;
  left:110px;
  top:47px;
  width:111px;
  height:30px;
  color:#000000;
}
#u3755 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u3756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3756 {
  position:absolute;
  left:221px;
  top:47px;
  width:111px;
  height:30px;
  color:#000000;
}
#u3757 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u3758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3758 {
  position:absolute;
  left:332px;
  top:47px;
  width:111px;
  height:30px;
  color:#000000;
}
#u3759 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u3760 {
  position:absolute;
  left:1775px;
  top:174px;
  width:69px;
  height:25px;
}
#u3760_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u3761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3761 {
  position:absolute;
  left:447px;
  top:47px;
  width:111px;
  height:30px;
  color:#FF0000;
}
#u3762 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u3763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3763 {
  position:absolute;
  left:554px;
  top:47px;
  width:111px;
  height:30px;
  color:#000000;
}
#u3764 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u3765 {
  position:absolute;
  left:1356px;
  top:83px;
  width:92px;
  height:25px;
}
#u3765_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u3766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u3766 {
  position:absolute;
  left:495px;
  top:97px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u3767 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u3768 {
  position:absolute;
  left:532px;
  top:92px;
  width:130px;
  height:22px;
}
#u3768_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3768_input:disabled {
  color:grayText;
}
