body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:404px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:485px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2217 {
  position:absolute;
  left:100px;
  top:15px;
  width:304px;
  height:485px;
}
#u2218 {
  position:absolute;
  left:2px;
  top:234px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2219 {
  position:absolute;
  left:199px;
  top:25px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2220 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u2221 {
  position:absolute;
  left:143px;
  top:124px;
  width:8px;
  height:16px;
}
#u2222 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  visibility:hidden;
  white-space:nowrap;
}
#u2223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2223 {
  position:absolute;
  left:100px;
  top:15px;
  width:80px;
  height:34px;
}
#u2224 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u2225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:444px;
}
#u2225 {
  position:absolute;
  left:102px;
  top:57px;
  width:300px;
  height:443px;
}
#u2226 {
  position:absolute;
  left:2px;
  top:214px;
  width:296px;
  word-wrap:break-word;
}
