body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:411px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4836 {
  position:absolute;
  left:246px;
  top:502px;
  width:73px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4837 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:477px;
}
#u4838 {
  position:absolute;
  left:100px;
  top:15px;
  width:311px;
  height:477px;
}
#u4839 {
  position:absolute;
  left:2px;
  top:230px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:78px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4840 {
  position:absolute;
  left:151px;
  top:223px;
  width:189px;
  height:78px;
}
#u4841 {
  position:absolute;
  left:2px;
  top:31px;
  width:185px;
  word-wrap:break-word;
}
