body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:636px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:484px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5094 {
  position:absolute;
  left:103px;
  top:15px;
  width:304px;
  height:484px;
}
#u5095 {
  position:absolute;
  left:2px;
  top:234px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5096 {
  position:absolute;
  left:237px;
  top:499px;
  width:109px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5097 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u5098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5098 {
  position:absolute;
  left:103px;
  top:15px;
  width:62px;
  height:24px;
}
#u5099 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u5100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5100 {
  position:absolute;
  left:224px;
  top:15px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5101 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5102 {
  position:absolute;
  left:193px;
  top:50px;
  width:111px;
  height:24px;
}
#u5103 {
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  word-wrap:break-word;
}
#u5104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:87px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5104 {
  position:absolute;
  left:417px;
  top:20px;
  width:219px;
  height:87px;
}
#u5105 {
  position:absolute;
  left:2px;
  top:20px;
  width:215px;
  word-wrap:break-word;
}
#u5106 {
  position:absolute;
  left:304px;
  top:50px;
  width:103px;
  height:25px;
}
#u5106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5107 {
  position:absolute;
  left:345px;
  top:20px;
  width:55px;
  height:20px;
}
#u5108 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u5109 {
  position:absolute;
  left:100px;
  top:49px;
  width:93px;
  height:25px;
}
#u5109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5110 {
  position:absolute;
  left:115px;
  top:85px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5111 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5112 {
  position:absolute;
  left:115px;
  top:117px;
  width:57px;
  height:32px;
}
#u5113 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
