body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:511px;
  width:669px;
  height:154px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:665px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:486px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:15px;
  width:1054px;
  height:486px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:246px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:109px;
  width:92px;
  height:246px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:109px;
  width:301px;
  height:36px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  word-wrap:break-word;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:144px;
  width:301px;
  height:66px;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:0px;
  width:53px;
  height:36px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:36px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:0px;
  width:58px;
  height:36px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:54px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:80px;
  height:36px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:61px;
  height:36px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:57px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:49px;
  height:30px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:36px;
  width:53px;
  height:30px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:36px;
  width:58px;
  height:30px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:36px;
  width:80px;
  height:30px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:36px;
  width:61px;
  height:30px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:109px;
  width:0px;
  height:0px;
}
#u19_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-23px;
  width:8px;
  height:23px;
}
#u19_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-23px;
  width:554px;
  height:8px;
}
#u19_seg2 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:-23px;
  width:8px;
  height:23px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:223px;
  top:-27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
