body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:470px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2723 {
  position:absolute;
  left:100px;
  top:15px;
  width:309px;
  height:470px;
}
#u2724 {
  position:absolute;
  left:2px;
  top:227px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2725 {
  position:absolute;
  left:100px;
  top:15px;
  width:309px;
  height:40px;
}
#u2726 {
  position:absolute;
  left:2px;
  top:12px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:167px;
}
#u2727 {
  position:absolute;
  left:100px;
  top:59px;
  width:309px;
  height:167px;
}
#u2728 {
  position:absolute;
  left:2px;
  top:76px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2729 {
  position:absolute;
  left:161px;
  top:20px;
  width:83px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2730 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u2731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:177px;
}
#u2731 {
  position:absolute;
  left:100px;
  top:233px;
  width:309px;
  height:177px;
}
#u2732 {
  position:absolute;
  left:2px;
  top:80px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2733 {
  position:absolute;
  left:430px;
  top:60px;
  width:420px;
  height:150px;
}
#u2734 {
  position:absolute;
  left:10px;
  top:10px;
  width:400px;
  word-wrap:break-word;
}
#u2735 {
  position:absolute;
  left:320px;
  top:22px;
  width:80px;
  height:22px;
}
#u2735_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2735_input:disabled {
  color:grayText;
}
#u2736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2736 {
  position:absolute;
  left:105px;
  top:23px;
  width:25px;
  height:25px;
}
#u2737 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
