body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:642px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:90px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6077 {
  position:absolute;
  left:423px;
  top:15px;
  width:219px;
  height:90px;
}
#u6078 {
  position:absolute;
  left:2px;
  top:37px;
  width:215px;
  word-wrap:break-word;
}
#u6079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:484px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6079 {
  position:absolute;
  left:100px;
  top:15px;
  width:304px;
  height:484px;
}
#u6080 {
  position:absolute;
  left:2px;
  top:234px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6081 {
  position:absolute;
  left:191px;
  top:499px;
  width:109px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6082 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u6083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6083 {
  position:absolute;
  left:100px;
  top:15px;
  width:62px;
  height:24px;
}
#u6084 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u6085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6085 {
  position:absolute;
  left:203px;
  top:15px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6086 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6087 {
  position:absolute;
  left:242px;
  top:48px;
  width:162px;
  height:24px;
}
#u6088 {
  position:absolute;
  left:2px;
  top:4px;
  width:158px;
  word-wrap:break-word;
}
#u6089 {
  position:absolute;
  left:100px;
  top:48px;
  width:142px;
  height:25px;
}
#u6089_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6090 {
  position:absolute;
  left:332px;
  top:20px;
  width:65px;
  height:24px;
}
#u6091 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u6092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:77px;
}
#u6092 {
  position:absolute;
  left:101px;
  top:78px;
  width:300px;
  height:76px;
}
#u6093 {
  position:absolute;
  left:2px;
  top:30px;
  width:296px;
  word-wrap:break-word;
}
#u6094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6094 {
  position:absolute;
  left:104px;
  top:463px;
  width:300px;
  height:36px;
}
#u6095 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6096 {
  position:absolute;
  left:312px;
  top:463px;
  width:92px;
  height:36px;
}
#u6097 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u6098 {
  position:absolute;
  left:104px;
  top:473px;
  width:100px;
  height:16px;
}
#u6099 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6098_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6100 {
  position:absolute;
  left:168px;
  top:473px;
  width:43px;
  height:16px;
}
#u6101 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:42px;
}
#u6102 {
  position:absolute;
  left:205px;
  top:463px;
  width:107px;
  height:42px;
  font-size:36px;
}
#u6103 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u6104 {
  position:absolute;
  left:124px;
  top:183px;
  width:176px;
  height:48px;
}
#u6105 {
  position:absolute;
  left:16px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u6104_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:42px;
}
#u6106 {
  position:absolute;
  left:285px;
  top:183px;
  width:107px;
  height:42px;
  font-size:36px;
}
#u6107 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
