body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4679px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u5230 {
  position:absolute;
  left:25px;
  top:0px;
  width:750px;
  height:1334px;
}
#u5231 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u5232 {
  position:absolute;
  left:965px;
  top:0px;
  width:750px;
  height:1334px;
}
#u5233 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u5234 {
  position:absolute;
  left:1937px;
  top:0px;
  width:750px;
  height:1334px;
}
#u5235 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u5236 {
  position:absolute;
  left:2941px;
  top:0px;
  width:750px;
  height:1334px;
}
#u5237 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u5238 {
  position:absolute;
  left:3929px;
  top:0px;
  width:750px;
  height:1334px;
}
#u5239 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
