body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:404px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:481px;
}
#u5643 {
  position:absolute;
  left:100px;
  top:15px;
  width:304px;
  height:481px;
}
#u5644 {
  position:absolute;
  left:2px;
  top:232px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5645 {
  position:absolute;
  left:199px;
  top:384px;
  width:101px;
  height:16px;
}
#u5646 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
