body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1743px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1735px;
  height:926px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4834 {
  position:absolute;
  left:8px;
  top:34px;
  width:1735px;
  height:926px;
}
#u4835 {
  position:absolute;
  left:2px;
  top:455px;
  width:1731px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:31px;
}
#u4836 {
  position:absolute;
  left:7px;
  top:3px;
  width:158px;
  height:31px;
}
#u4837 {
  position:absolute;
  left:2px;
  top:8px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:22px;
}
#u4838 {
  position:absolute;
  left:149px;
  top:12px;
  width:16px;
  height:22px;
}
#u4839 {
  position:absolute;
  left:2px;
  top:3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
}
#u4840 {
  position:absolute;
  left:8px;
  top:80px;
  width:210px;
  height:25px;
}
#u4841 {
  position:absolute;
  left:2px;
  top:4px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4842 {
  position:absolute;
  left:32px;
  top:84px;
  width:57px;
  height:16px;
}
#u4843 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4844 {
  position:absolute;
  left:99px;
  top:80px;
  width:115px;
  height:25px;
}
#u4844_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4845 {
  position:absolute;
  left:37px;
  top:13px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u4846 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4847 {
  position:absolute;
  left:1118px;
  top:73px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u4848 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u4849 {
  position:absolute;
  left:15px;
  top:172px;
  width:1566px;
  height:88px;
}
#u4850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4850 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4851 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4852 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u4853 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4854 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u4855 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u4856 {
  position:absolute;
  left:300px;
  top:0px;
  width:120px;
  height:30px;
}
#u4857 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u4858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u4858 {
  position:absolute;
  left:420px;
  top:0px;
  width:118px;
  height:30px;
}
#u4859 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u4860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u4860 {
  position:absolute;
  left:538px;
  top:0px;
  width:118px;
  height:30px;
}
#u4861 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u4862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u4862 {
  position:absolute;
  left:656px;
  top:0px;
  width:118px;
  height:30px;
}
#u4863 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u4864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4864 {
  position:absolute;
  left:774px;
  top:0px;
  width:100px;
  height:30px;
}
#u4865 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u4866 {
  position:absolute;
  left:874px;
  top:0px;
  width:120px;
  height:30px;
}
#u4867 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u4868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u4868 {
  position:absolute;
  left:994px;
  top:0px;
  width:120px;
  height:30px;
}
#u4869 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u4870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u4870 {
  position:absolute;
  left:1114px;
  top:0px;
  width:120px;
  height:30px;
}
#u4871 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u4872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u4872 {
  position:absolute;
  left:1234px;
  top:0px;
  width:120px;
  height:30px;
}
#u4873 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u4874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:30px;
}
#u4874 {
  position:absolute;
  left:1354px;
  top:0px;
  width:207px;
  height:30px;
}
#u4875 {
  position:absolute;
  left:2px;
  top:7px;
  width:203px;
  word-wrap:break-word;
}
#u4876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4876 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u4877 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4878 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u4879 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4880 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u4881 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u4882 {
  position:absolute;
  left:300px;
  top:30px;
  width:120px;
  height:30px;
  text-decoration:underline;
  color:#0000CC;
}
#u4883 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u4884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u4884 {
  position:absolute;
  left:420px;
  top:30px;
  width:118px;
  height:30px;
}
#u4885 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u4886 {
  position:absolute;
  left:538px;
  top:30px;
  width:118px;
  height:30px;
  text-decoration:underline;
}
#u4887 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u4888 {
  position:absolute;
  left:656px;
  top:30px;
  width:118px;
  height:30px;
  text-decoration:underline;
}
#u4889 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4890 {
  position:absolute;
  left:774px;
  top:30px;
  width:100px;
  height:30px;
  text-decoration:underline;
}
#u4891 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u4892 {
  position:absolute;
  left:874px;
  top:30px;
  width:120px;
  height:30px;
}
#u4893 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u4894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u4894 {
  position:absolute;
  left:994px;
  top:30px;
  width:120px;
  height:30px;
}
#u4895 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u4896 {
  position:absolute;
  left:1114px;
  top:30px;
  width:120px;
  height:30px;
}
#u4897 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u4898 {
  position:absolute;
  left:1234px;
  top:30px;
  width:120px;
  height:30px;
}
#u4899 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:30px;
}
#u4900 {
  position:absolute;
  left:1354px;
  top:30px;
  width:207px;
  height:30px;
}
#u4901 {
  position:absolute;
  left:2px;
  top:7px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u4902 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:34px;
}
#u4903 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u4904 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:34px;
}
#u4905 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u4906 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:34px;
}
#u4907 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u4908 {
  position:absolute;
  left:300px;
  top:60px;
  width:120px;
  height:34px;
}
#u4909 {
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:34px;
}
#u4910 {
  position:absolute;
  left:420px;
  top:60px;
  width:118px;
  height:34px;
}
#u4911 {
  position:absolute;
  left:2px;
  top:9px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:34px;
}
#u4912 {
  position:absolute;
  left:538px;
  top:60px;
  width:118px;
  height:34px;
}
#u4913 {
  position:absolute;
  left:2px;
  top:9px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:34px;
}
#u4914 {
  position:absolute;
  left:656px;
  top:60px;
  width:118px;
  height:34px;
}
#u4915 {
  position:absolute;
  left:2px;
  top:9px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u4916 {
  position:absolute;
  left:774px;
  top:60px;
  width:100px;
  height:34px;
}
#u4917 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u4918 {
  position:absolute;
  left:874px;
  top:60px;
  width:120px;
  height:34px;
}
#u4919 {
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u4920 {
  position:absolute;
  left:994px;
  top:60px;
  width:120px;
  height:34px;
}
#u4921 {
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u4922 {
  position:absolute;
  left:1114px;
  top:60px;
  width:120px;
  height:34px;
}
#u4923 {
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u4924 {
  position:absolute;
  left:1234px;
  top:60px;
  width:120px;
  height:34px;
}
#u4925 {
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:34px;
}
#u4926 {
  position:absolute;
  left:1354px;
  top:60px;
  width:207px;
  height:34px;
}
#u4927 {
  position:absolute;
  left:2px;
  top:9px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4928 {
  position:absolute;
  left:60px;
  top:179px;
  width:16px;
  height:16px;
}
#u4929 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4928_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4930 {
  position:absolute;
  left:61px;
  top:209px;
  width:16px;
  height:16px;
}
#u4931 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4930_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4932 {
  position:absolute;
  left:61px;
  top:239px;
  width:16px;
  height:16px;
}
#u4933 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4932_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:2px;
}
#u4934 {
  position:absolute;
  left:8px;
  top:873px;
  width:1250px;
  height:1px;
}
#u4935 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:2px;
}
#u4936 {
  position:absolute;
  left:19px;
  top:117px;
  width:1215px;
  height:1px;
}
#u4937 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4938 {
  position:absolute;
  left:40px;
  top:904px;
  width:95px;
  height:16px;
}
#u4939 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u4940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4940 {
  position:absolute;
  left:364px;
  top:904px;
  width:61px;
  height:28px;
}
#u4941 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u4942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4942 {
  position:absolute;
  left:425px;
  top:904px;
  width:61px;
  height:28px;
}
#u4943 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u4944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4944 {
  position:absolute;
  left:486px;
  top:904px;
  width:61px;
  height:28px;
}
#u4945 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u4946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4946 {
  position:absolute;
  left:547px;
  top:904px;
  width:61px;
  height:28px;
}
#u4947 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u4948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4948 {
  position:absolute;
  left:669px;
  top:904px;
  width:61px;
  height:28px;
}
#u4949 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u4950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4950 {
  position:absolute;
  left:791px;
  top:904px;
  width:61px;
  height:28px;
}
#u4951 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u4952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4952 {
  position:absolute;
  left:852px;
  top:904px;
  width:61px;
  height:28px;
}
#u4953 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u4954 {
  position:absolute;
  left:608px;
  top:907px;
  width:61px;
  height:25px;
}
#u4954_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4955 {
  position:absolute;
  left:730px;
  top:904px;
  width:61px;
  height:28px;
}
#u4956 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u4957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4957 {
  position:absolute;
  left:1064px;
  top:904px;
  width:61px;
  height:28px;
}
#u4958 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u4959 {
  position:absolute;
  left:1123px;
  top:904px;
  width:53px;
  height:28px;
}
#u4959_input {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4959_input:disabled {
  color:grayText;
}
#u4960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4960 {
  position:absolute;
  left:1176px;
  top:904px;
  width:44px;
  height:28px;
}
#u4961 {
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u4962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:19px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4962 {
  position:absolute;
  left:1419px;
  top:206px;
  width:89px;
  height:19px;
  font-size:12px;
}
#u4963 {
  position:absolute;
  left:2px;
  top:2px;
  width:85px;
  word-wrap:break-word;
}
#u4964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
}
#u4964 {
  position:absolute;
  left:228px;
  top:80px;
  width:210px;
  height:25px;
}
#u4965 {
  position:absolute;
  left:2px;
  top:4px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4966 {
  position:absolute;
  left:228px;
  top:85px;
  width:57px;
  height:16px;
}
#u4967 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
}
#u4968 {
  position:absolute;
  left:448px;
  top:79px;
  width:210px;
  height:25px;
}
#u4969 {
  position:absolute;
  left:2px;
  top:4px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4970 {
  position:absolute;
  left:455px;
  top:83px;
  width:71px;
  height:16px;
}
#u4971 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
}
#u4972 {
  position:absolute;
  left:677px;
  top:82px;
  width:210px;
  height:25px;
}
#u4973 {
  position:absolute;
  left:2px;
  top:4px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4974 {
  position:absolute;
  left:701px;
  top:86px;
  width:57px;
  height:16px;
}
#u4975 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4976 {
  position:absolute;
  left:304px;
  top:83px;
  width:112px;
  height:22px;
}
#u4976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4976_input:disabled {
  color:grayText;
}
#u4977 {
  position:absolute;
  left:525px;
  top:82px;
  width:115px;
  height:25px;
}
#u4977_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
}
#u4978 {
  position:absolute;
  left:595px;
  top:44px;
  width:210px;
  height:25px;
}
#u4979 {
  position:absolute;
  left:2px;
  top:4px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4980 {
  position:absolute;
  left:595px;
  top:49px;
  width:57px;
  height:16px;
}
#u4981 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4982 {
  position:absolute;
  left:671px;
  top:47px;
  width:112px;
  height:22px;
}
#u4982_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4982_input:disabled {
  color:grayText;
}
#u4983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
}
#u4983 {
  position:absolute;
  left:364px;
  top:44px;
  width:210px;
  height:25px;
}
#u4984 {
  position:absolute;
  left:2px;
  top:4px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4985 {
  position:absolute;
  left:364px;
  top:49px;
  width:61px;
  height:16px;
}
#u4986 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4987 {
  position:absolute;
  left:440px;
  top:47px;
  width:112px;
  height:22px;
}
#u4987_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4987_input:disabled {
  color:grayText;
}
#u4988 {
  position:absolute;
  left:768px;
  top:86px;
  width:112px;
  height:22px;
}
#u4988_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4988_input:disabled {
  color:grayText;
}
#u4989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4989 {
  position:absolute;
  left:834px;
  top:312px;
  width:300px;
  height:254px;
}
#u4990 {
  position:absolute;
  left:2px;
  top:119px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4991 {
  position:absolute;
  left:947px;
  top:328px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4992 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4993 {
  position:absolute;
  left:842px;
  top:363px;
  width:279px;
  height:150px;
}
#u4993_input {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:150px;
}
#u4994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:19px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4994 {
  position:absolute;
  left:861px;
  top:535px;
  width:89px;
  height:19px;
  font-size:12px;
}
#u4995 {
  position:absolute;
  left:2px;
  top:2px;
  width:85px;
  word-wrap:break-word;
}
#u4996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:19px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4996 {
  position:absolute;
  left:1003px;
  top:535px;
  width:89px;
  height:19px;
  font-size:12px;
}
#u4997 {
  position:absolute;
  left:2px;
  top:2px;
  width:85px;
  word-wrap:break-word;
}
#u4998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:25px;
}
#u4998 {
  position:absolute;
  left:8px;
  top:45px;
  width:182px;
  height:25px;
}
#u4999 {
  position:absolute;
  left:2px;
  top:4px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5000 {
  position:absolute;
  left:32px;
  top:49px;
  width:57px;
  height:16px;
}
#u5001 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5002 {
  position:absolute;
  left:99px;
  top:45px;
  width:91px;
  height:25px;
}
#u5002_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u5003 {
  position:absolute;
  left:196px;
  top:45px;
  width:28px;
  height:25px;
}
#u5004 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5003_ann {
  position:absolute;
  left:217px;
  top:41px;
  width:1px;
  height:1px;
}
#u5005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5005 {
  position:absolute;
  left:1362px;
  top:265px;
  width:325px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5006 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  white-space:nowrap;
}
#u5007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5007 {
  position:absolute;
  left:311px;
  top:276px;
  width:444px;
  height:290px;
}
#u5008 {
  position:absolute;
  left:2px;
  top:137px;
  width:440px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5009 {
  position:absolute;
  left:478px;
  top:294px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5010 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:19px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5011 {
  position:absolute;
  left:351px;
  top:531px;
  width:132px;
  height:19px;
  font-size:12px;
}
#u5012 {
  position:absolute;
  left:2px;
  top:2px;
  width:128px;
  word-wrap:break-word;
}
#u5013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:19px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5013 {
  position:absolute;
  left:561px;
  top:531px;
  width:132px;
  height:19px;
  font-size:12px;
}
#u5014 {
  position:absolute;
  left:2px;
  top:2px;
  width:128px;
  word-wrap:break-word;
}
#u5015 {
  position:absolute;
  left:334px;
  top:326px;
  width:403px;
  height:170px;
}
#u5015_input {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u5016 {
  position:absolute;
  left:61px;
  top:369px;
  width:237px;
  height:56px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u5017 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u5018_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:48px;
  height:22px;
}
#u5018p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:38px;
  height:2px;
}
#u5018p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:40px;
  height:4px;
}
#u5018p001 {
  position:absolute;
  left:-6px;
  top:-10px;
  width:22px;
  height:22px;
}
#u5018p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:22px;
  height:24px;
}
#u5018.compound {
  width:0px;
  height:0px;
}
#u5018 {
  position:absolute;
  left:298px;
  top:395px;
  width:36px;
  height:2px;
  color:#FF0000;
}
#u5019 {
  position:absolute;
  left:2px;
  top:-7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5020 {
  position:absolute;
  left:735px;
  top:276px;
  width:20px;
  height:20px;
  font-size:14px;
}
#u5021 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u5022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5022 {
  position:absolute;
  left:1114px;
  top:312px;
  width:20px;
  height:20px;
  font-size:14px;
}
#u5023 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u5024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:182px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u5024 {
  position:absolute;
  left:81px;
  top:484px;
  width:220px;
  height:182px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u5025 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u5026_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:48px;
  height:5px;
}
#u5026 {
  position:absolute;
  left:289px;
  top:429px;
  width:45px;
  height:2px;
  color:#FF0000;
}
#u5027 {
  position:absolute;
  left:2px;
  top:-7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5028_img {
  position:absolute;
  left:-10px;
  top:-1px;
  width:22px;
  height:64px;
}
#u5028p000 {
  position:absolute;
  left:-28px;
  top:24px;
  width:58px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u5028p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:60px;
  height:6px;
}
#u5028p001 {
  position:absolute;
  left:-10px;
  top:37px;
  width:22px;
  height:22px;
}
#u5028p001_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:24px;
  height:22px;
}
#u5028.compound {
  width:0px;
  height:0px;
}
#u5028 {
  position:absolute;
  left:289px;
  top:431px;
  width:2px;
  height:53px;
}
#u5029 {
  position:absolute;
  left:2px;
  top:18px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:261px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5030 {
  position:absolute;
  left:455px;
  top:602px;
  width:596px;
  height:261px;
}
#u5031 {
  position:absolute;
  left:2px;
  top:122px;
  width:592px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5032 {
  position:absolute;
  left:724px;
  top:609px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5033 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:19px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5034 {
  position:absolute;
  left:922px;
  top:841px;
  width:89px;
  height:19px;
  font-size:12px;
}
#u5035 {
  position:absolute;
  left:2px;
  top:2px;
  width:85px;
  word-wrap:break-word;
}
#u5036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5036 {
  position:absolute;
  left:1031px;
  top:602px;
  width:20px;
  height:20px;
  font-size:14px;
}
#u5037 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u5038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5038 {
  position:absolute;
  left:497px;
  top:653px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5039 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5040 {
  position:absolute;
  left:497px;
  top:718px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5041 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u5042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5042 {
  position:absolute;
  left:497px;
  top:686px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5043 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5044 {
  position:absolute;
  left:497px;
  top:750px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5045 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u5046 {
  position:absolute;
  left:718px;
  top:656px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u5047 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5048 {
  position:absolute;
  left:718px;
  top:678px;
  width:293px;
  height:153px;
}
#u5048_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:153px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u5049 {
  position:absolute;
  left:580px;
  top:756px;
  width:33px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u5050 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u5051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u5051 {
  position:absolute;
  left:580px;
  top:692px;
  width:150px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u5052 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u5053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u5053 {
  position:absolute;
  left:616px;
  top:721px;
  width:68px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u5054 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u5055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u5055 {
  position:absolute;
  left:580px;
  top:656px;
  width:150px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u5056 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
