body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:563px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10227 {
  position:absolute;
  left:292px;
  top:64px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10228 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u10229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u10229 {
  position:absolute;
  left:527px;
  top:67px;
  width:36px;
  height:34px;
}
#u10230 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10229_ann {
  position:absolute;
  left:556px;
  top:63px;
  width:1px;
  height:1px;
}
#u10231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
}
#u10231 {
  position:absolute;
  left:323px;
  top:150px;
  width:210px;
  height:25px;
}
#u10232 {
  position:absolute;
  left:2px;
  top:4px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10233 {
  position:absolute;
  left:347px;
  top:154px;
  width:29px;
  height:16px;
}
#u10234 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10235 {
  position:absolute;
  left:402px;
  top:150px;
  width:127px;
  height:25px;
}
#u10235_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
}
#u10236 {
  position:absolute;
  left:323px;
  top:195px;
  width:210px;
  height:25px;
}
#u10237 {
  position:absolute;
  left:2px;
  top:4px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10238 {
  position:absolute;
  left:347px;
  top:199px;
  width:29px;
  height:16px;
}
#u10239 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10240 {
  position:absolute;
  left:402px;
  top:195px;
  width:127px;
  height:25px;
}
#u10240_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
}
#u10241 {
  position:absolute;
  left:323px;
  top:242px;
  width:210px;
  height:25px;
}
#u10242 {
  position:absolute;
  left:2px;
  top:4px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10243 {
  position:absolute;
  left:347px;
  top:246px;
  width:57px;
  height:16px;
}
#u10244 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10245 {
  position:absolute;
  left:402px;
  top:242px;
  width:127px;
  height:25px;
}
#u10245_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
}
#u10246 {
  position:absolute;
  left:323px;
  top:292px;
  width:210px;
  height:25px;
}
#u10247 {
  position:absolute;
  left:2px;
  top:4px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10248 {
  position:absolute;
  left:347px;
  top:296px;
  width:29px;
  height:16px;
}
#u10249 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10250 {
  position:absolute;
  left:402px;
  top:292px;
  width:127px;
  height:25px;
}
#u10250_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10251 {
  position:absolute;
  left:341px;
  top:364px;
  width:175px;
  height:40px;
}
#u10252 {
  position:absolute;
  left:2px;
  top:12px;
  width:171px;
  word-wrap:break-word;
}
