body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:551px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:101px;
}
#u6985 {
  position:absolute;
  left:341px;
  top:140px;
  width:210px;
  height:100px;
}
#u6986 {
  position:absolute;
  left:2px;
  top:42px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6987 {
  position:absolute;
  left:409px;
  top:93px;
  width:65px;
  height:37px;
}
#u6988 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6989 {
  position:absolute;
  left:451px;
  top:260px;
  width:100px;
  height:25px;
}
#u6989_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6990 {
  position:absolute;
  left:341px;
  top:305px;
  width:100px;
  height:25px;
}
#u6990_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6991 {
  position:absolute;
  left:341px;
  top:264px;
  width:78px;
  height:16px;
}
#u6992 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
