body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1108px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:182px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:182px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:719px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1108px;
  height:511px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:1108px;
  height:511px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:21px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:285px;
  width:242px;
  height:21px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:288px;
  width:90px;
  height:15px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:643px;
  width:120px;
  height:33px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:33px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:643px;
  width:120px;
  height:33px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:241px;
  width:295px;
  height:53px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:291px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:243px;
  width:12px;
  height:12px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
